[2019-03-25 03:49] ddelnano opened #2 "Add more assertions to the vm resource acctests"
The acceptance tests for the xenorchestra_vm resource don't cover many of the lifecycle changes of the resource (when to recreate vs update). This issue is to make sure I enhance the test coverage of the situations we are currently missing.

[2019-03-25 03:50] ddelnano opened #3 "Refactor calls to xo.getAllObjects into single function"
There are some resources that have to rely on xo.getAllObjects since the XOA api does not expose a dedicated api for those resources. Since much of this code is duplicated we should see if it can be refactored.

This will help to write client functionality for more XO api objects as new resources and data sources are created.

[2019-03-25 12:35] outbackdingo opened #4 "building fails / repo not found"
make
go build -o terraform-provider-xenorchestra
go: finding github.com/ddelnano/rpc-codec v1.0.3-0.20190318124550-2db0b866bdff
go: finding github.com/davecgh/go-spew v1.1.0
go: finding github.com/stretchr/objx v0.1.0
go: finding github.com/pmezard/go-difflib v1.0.0
go: github.com/ddelnano/rpc-codec@v1.0.3-0.20190318124550-2db0b866bdff: git fetch -f https://github.com/ddelnano/rpc-codec refs/heads

[2019-03-25 15:15] ddelnano commented on #4
Well that's embarrassing 🙃. I wasn't going to prioritize a CI build until I could get it running against an XOA server but clearly I can't write code that compiles.

That dependency is no longer used so it should be removed from the go.mod go.sum file. Won't be able to fix this until after work but should be pretty easy.

[2019-03-25 15:27] ddelnano opened #5 "Setup Continuous Integration"
In #4 I shipped code that cause the code to not compile. Let's setup travis to just build the provider (and maybe run unit tests). Longer term this CI job will probably run on my personal jenkins (since it requires access to an XOA server).

[2019-03-25 15:27] ddelnano commented on #4
This is fixed in 41f341b33ebd50fafe732449699358188ace217d. I will work on getting a CI build setup as part of #5.

[2019-03-25 15:27] #4 closed

[2019-03-25 23:19] #5 closed

[2019-03-26 08:37] ringods opened #8 "Documenting the provider"
Hello @ddelnano,

To document your provider, you can build upon the shoulders of common work done. The [Terra-Farm](https://terra-farm.github.io) website uses [Antora](https://antora.org) to build a single website out of sources spread over multiple Git repositories. The idea is to have a single website containing general documentation about the Terra-Farm initiative, the documentation of all prov

[2019-03-26 12:50] ddelnano commented on #8
@ringods yea I’ve been looking into how those docs are setup. Honestly that is the main motivator that I transferred my repo into the terra-farm org. I’m eager to enhance my provider’s docs so I’ll be getting this setup this week.

[2019-03-26 13:42] ringods commented on #8
@ddelnano let me know when you have a few basic files checked in in your repo and I will add the repo as an additional source here:

https://github.com/terra-farm/terra-farm.github.io/blob/site/site.yml#L5-L12

[2019-04-01 05:04] ddelnano commented on #8
The first set of documentation is live so I'm calling this done.

[2019-04-01 05:04] #8 closed

[2019-04-04 14:25] m0ps opened #10 "Update the xenorchestra_vm resource to support the pool id resource"
Hello!
I'm trying to evaluate terraform-provider-xenorchestra and faced with the following issue:
[code]

As I correctly understand, it tries to connect via http (tcp/80) to xenorchestra, but in our deployment only https (tcp/443) is available.

Provider credentials configured in the following way:
[code]
So I suppose that it should tries to connect over https. Or I miss something?

[2019-04-04 17:07] ddelnano commented on #10
@m0ps actually I think the issue is that the provider "variables" don't work 😑. The [NewClient function](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/client/client.go#L30) I use everywhere pulls the creds from environment variables and doesn't use the provider's [ConfigureFunc](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/xoa/provider.go#L3

[2019-04-04 17:30] m0ps commented on #10
Ok, I tried to use env vars, but now I got another error:
[code]

[2019-04-04 17:41] m0ps commented on #10
Ah... I understood what you mean when you say about ws/wss. ws is used for http and wss for https. Ok, so I'm waiting for a fix.

Thanks

[2019-04-04 17:59] m0ps commented on #10
I performed a quick source code modification - switched ws to wss and now connection successful.
But... I got another error:
[code]

I suppose that it out of the scope of the current issue, so if you wish - I can create a separate issue.

BTW cloud config created successfully.

[2019-04-04 18:03] m0ps commented on #10
BTW - using cloud_config as a sticky required option is not a good idea cuz terraform has builtin provisioning feature.

[2019-04-04 18:06] m0ps commented on #10
Bellow you can find xenorchestra_vm resouce config:
[code]

[2019-04-05 02:17] ddelnano opened #12 "Only environment variables work for configuring the provider"
This is a continuation of #10. In the documentation it states that the provider can be configured like so

[code]

This actually doesn't work because we only use the environment variables (instead of using the [ConfigureFunc](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/xoa/provider.go#L39) the provider is configured with). This issue is to track this bug and add testi

[2019-04-05 02:21] ddelnano opened #13 "Cloud config should be optional for the xenorchestra_vm resource"
@m0ps [points out](https://github.com/terra-farm/terraform-provider-xenorchestra/issues/10#issuecomment-480003022) that not everyone wants to use cloud-init for provisioning instances. I personally don't like using Terraform's provisioning feature but that doesn't mean this provider should force people into doing it my way.

[2019-04-05 02:30] ddelnano commented on #10
@m0ps the ws and wss was fixed in #11.

Since this issue has quickly become a discussion on multiple issues I have created some other issues. #12 is for the provider configuration bug. #13 is address your concerns about cloud config being a required parameter.

For the latest error you posted:

[code]

I'm going to need more help. That jsonrpcv2 error indicates a server error. What version of XO a

[2019-04-05 05:18] #12 closed

[2019-04-05 09:24] m0ps commented on #10
@ddelnano thanks for fixes

As for latest error:

I checked logs and found following error:
`2019-04-05T09:03:05.999Z - xo:api - [WARN] m0ps | vm.create(...) [6s] =!> Error: no object with UUID or opaque ref: fb489777-f615-1207-119a-3ac5b94d2ff0`

This UUID specified in **sr_id** option of disk description. I double checked and it present:
[code]
It looks like I need to describe our env, so it can

[2019-04-05 10:15] m0ps opened #15 "SR data source"
Just as you provide PIF data source, maybe it will be a good idea to provide similar for SR?

[2019-04-05 10:16] m0ps opened #16 "xenorchestra_pif data source improvement"
You implemented figuring out of UUID by device name, but... if we have a lot of **pif**s with device "eth1" but with different VLAN, I suppose that it will work incorrectly. It needs to be specified in another way. Maybe in addition to **device**, **VLAN** should be specified.

[2019-04-05 16:20] ddelnano commented on #15
Definitely :). I just haven't had the time yet. I'll get this working soon.

[2019-04-05 16:27] ddelnano commented on #16
Can you show me a pif-list on your Xen server or what the objects look like in the XO api?

[2019-04-05 19:19] m0ps commented on #16
Sure:
[code]

[2019-04-09 05:29] ddelnano commented on #16
@m0ps I believe #17 should fix your issues (`vlan` is now required for the pif data source). Please reopen this issue if that is not the case.

[2019-04-09 05:29] #16 closed

[2019-04-09 05:39] ddelnano commented on #10
What pool does `idmbs-hv002` exist on? My setup is currently 1 host and my vm resource does not use pool id. I'm wondering if it's trying to create the VM on a host that doesn't have the SR you are trying to use.

Can you list out the SR objects from XO's side? Use the xo-cli like so.

[code]

[2019-04-09 07:47] m0ps commented on #10
idmbs-hv002 added into the pool that contains only one host. But you are right. I suppose that terraform should "tell" XO on which pool/host VM should be deployed cuz during manual VM rollout - I do it by myself. At least the pool needs to be defined (as a mandatory parameter). But it will be a good idea to have the ability to specify also a host (as an optional parameter).

As for xo-cli - curren

[2019-04-09 08:51] m0ps commented on #10
xo-cli output for **fb489777-f615-1207-119a-3ac5b94d2ff0** datastore:
[code]

[2019-04-12 05:23] #3 closed

[2019-04-14 18:14] ddelnano commented on #10
Hm after looking into this more the xo api does not support setting the pool id. I know the web UI allows you to select which pool the VM will be created on but I'm not sure how that is being implemented (since `vm.create` doesn't have a pool id parameter).

![Screen Shot 2019-04-14 at 11 13 58 AM](https://user-images.githubusercontent.com/5855593/56097235-6e529a00-5ea6-11e9-9513-225352e93049.png)

[2019-04-14 18:37] m0ps commented on #10
Yes, affinityHost is used for selecting exactly host in a pool on which VM will be placed.
As for the pool selection method, probably @olivierlambert can clarify.

[2019-04-14 20:18] olivierlambert commented on #10
Pool (and even host) placement is SR related. Within a pool, `affinityHost` is a way to ask XAPI if it could be started on a specific host but **without any guarantee** it will run there.

VM placement is a very complex topic, feel free to ask for me details, I'll answer when I can.

[2019-07-01 12:14] 7ojo commented on #10
Evaluating also this provider (and xenorchesta as a whole) and pumped to this same error

[code]

And these logs I got when I ran this on xoa server `sudo journalctl -f -u xo-server.service`:

[code]

Any pointers to look further on this?

[2019-07-09 13:31] MrOffline77 commented on #15
Vote for this. Otherwise it's not possible to provision VM's to hosts with local-storage, without knowing all SR UUID's from somewhere. Or is there another option to accomplish this without a PIF Ressource for the SR UUID's ?

[2019-07-11 17:40] ddelnano commented on #10
@7ojo sorry I've been through moving aparments and a few trips the past few weeks. Can you explain more about your Xenserver setup (how many hosts, etc)?

That part is interesting since in the previous logs we looked at earlier in this thread led us to a specific SR.

[2019-07-11 19:00] 7ojo commented on #10
No worries. Setup was nothing special really. I was just evaluating this and installed XCP-ng + XenOrchestra on Intel Nuc hardware so it was a fresh installation.

I don't have this setup anymore so can't debug more on this, had to move different platform.

[2019-09-05 09:56] Orpere opened #19 "Client versions: problem"
Error: Failed to instantiate provider "xenorchestra" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]

[2019-09-06 03:04] ddelnano commented on #19
@Orpere can you please give me more context about how you generated that log and more information? I'm not sure where to begin with just that single log line.

[2019-09-08 23:19] ddelnano commented on #19
I’m closing this since I don’t have enough info to address the problem. If you collect the additional info I’m happy to revisit this.

[2019-09-08 23:19] #19 closed

[2019-09-10 03:11] ddelnano opened #20 "Add client side retries to XOA Api requests"
When trying to run the terraform provider on a bandwidth constrained network the provider fails to make requests. It would be nice if the provider retried read requests in the event of timeouts to make these requests succeed.

[2019-09-26 06:23] ringods opened #21 "Convert provider to use the new Terraform Plugin SDK"
Hashicorp revealed a separate Terraform Plugin SDK and the company promotes for provider developers to migrate their code to use it.

Source:
https://www.terraform.io/docs/extend/plugin-sdk.html

[2019-09-27 00:28] ddelnano commented on #21
@ringods thanks for the heads up. I was planning to migrate this to terraform 0.12 within the next week so I'll take care of this issue then (since it's a prerequisite).

[2019-11-06 07:05] ddelnano commented on #21
This was done when I merged #23.

[2019-11-06 07:05] #21 closed

[2019-11-12 10:48] rschardt2 opened #25 "Error: jsonrpc2: code 10 message: invalid parameters"
Environment:
Terraform v0.12.6
provider.xenorchestra v.0.2.0
XO: xo-server 5.51.1
Xen-Machine: XCP-ng 7.6.0

main.tf:
<pre>resource &quot;xenorchestra_vm&quot; &quot;foo&quot; {

  core_os = false
  cpu_cap = 2
  cpu_weight = 2
  cpus = 1
  memory_max = 1073733632
  name_label = &quot;someText&quot;
  name_description = &quot;someText&quot;
  cloud_config = &quot;${xenorchestra_cloud_config.devops

[2019-11-13 02:47] ddelnano commented on #25
Hi @rschardt2 can you please paste the rest of your terraform code?

[2019-11-13 12:07] rschardt2 commented on #25
Even without the xenorchestra_cloud_config (cloud_config set to an empty string).
It will run fine until the jsonrpc2 error is thrown.
[code]

[2019-11-14 07:29] ddelnano commented on #25
So my guess is that the disk sr_id or network_id is incorrect and that is causing the API to return with invalid parameters. Although when I try to reproduce that in the acceptance tests I get a more obvious error.

[code]

So it would help if I could find a way to reproduce this so that we can improve the logging, add test cases, etc.

Can you look at the XOA api logs to see if that gives you any

[2019-11-18 09:23] rschardt2 commented on #25
Here is the log from my xo-instance
[2019-11-18T08_59_33.339Z - XO.log](https://github.com/terra-farm/terraform-provider-xenorchestra/files/3857671/2019-11-18T08_59_33.339Z.-.XO.log)

[2019-11-19 03:04] ddelnano commented on #25
@rschardt2 it seems that your XOA server doesn't support `xo.getAllObjects`? Atleast that's what the logs lead me to believe. The terraform provider calls that rpc method and provides a `type` field to filter the results.

Can you try installing the xo-cli and see if you can run the following?

[code]

I either think this is related to your XO version or something with your XCP version (I'm using

[2019-11-19 03:15] ddelnano commented on #25
I upgraded from xo-server 5.31.2 to 5.50.1 and now I see the same failures you are seeing. So this was a breaking change in xo-server.

[2019-11-20 01:49] ddelnano commented on #25
It seems I was using the `xo.getAllObjects` rpc method with incorrect arguments. It wasn't until some type of validation was added to where this stopped working. I have a fix at #26

[2019-11-20 01:54] #25 closed

[2019-11-20 01:56] ddelnano commented on #25
@rschardt2 I'm pretty confident I understand the failure of this since I was able to reproduce it. Please install the 0.3.0 version of the terraform provider and see if it works. Reopen this issue if this is still a problem.

[2019-11-30 19:22] ringods commented on #5
@ddelnano I have also activated Github Actions. See the `Actions` tab at the top of this project page. You can remove TravisCI if you want.

[2019-12-19 14:20] ZegalPL opened #27 "Provide possibility to add multiple network interfaces"
I Would like to add multiple network interfaces while provisioning the VM, could this feature be added?

I've tried various ways and failed, and if this is possible could it be described in documentation?

[2019-12-26 08:02] ddelnano commented on #27
Sorry for the late response! @ZegalPL this is definitely a feature I'm interested in supporting. Unfortunately I don't think this will work with the current terraform code. I don't think the terraform code is making the correct API call to the XO api when multiple `network` blocks are used. I likely won't have time to work on this since I'm away for the holidays but I will try to prioritize this i

[2019-12-26 08:31] olivierlambert commented on #27
@ddelnano if you need assitance on how to do some calls, feel free to ping @julien-f :+1:

[2020-01-02 05:36] ddelnano commented on #27
@ZegalPL after testing this the feature already works. You just need to specify multiple network blocks in the terraform configuration like the following example.

[code]

This gives me a virtual machine with an eth0 and eth1.

[code]

Have you tried that in your earlier attempts?

[2020-01-02 13:29] ZegalPL commented on #27
@ddelnano You are right, i modified my test setup and added another NIC and syntax with multiple network blocks works.

Previously i tried with second network configured as private, which didn't work, thank You for checking this out! This solves the issue.

[2020-01-02 13:29] #27 closed

[2020-01-28 15:30] moisei opened #28 "add name_description for the disk"
Would be nice to have an option to specify disk description in the terraform script.
Something like:

[code]
Thank you.

[2020-05-08 10:28] trigun539 opened #29 "If XO has connection to multiple XCP NG hosts, how do you tell which host to create the VM in"
My XO currently has three XCP NG hosts connected to it.

Looked at the documentation for this provider but not sure how to tell the tf script to use a specific host. Tried to create a sample VM and got the following error:

[code]

This is the tf script used:

[code]

Is there something in the tf script that's not correct? Also, how can I tell which host to use?

Thanks

[2020-05-08 11:22] trigun539 opened #30 "Unable to create VM due to network config issue"
My tf file contains the following network config:

[code]

This is the Xen Orchestra output:

[code]

Error:

[code]

Also tried using "eth4" for device, but getting same error.

How can I avoid this issue? Trying to follow documentation but not sure why this is not working.

Xen Orchestra is setup with two XCP NG hosts. Each host has 8 NICs eth0-eth7.

[2020-05-08 11:41] olivierlambert commented on #30
Are you sure about the network UUID?

[2020-05-08 11:45] trigun539 commented on #30
@olivierlambert So, in the example for creating a VM. I can only set device / clan. The network UUID is automatically created somehow by the provider or Xen Orchestra.

Not sure how to give it a valid network UUID.

[2020-05-08 11:48] olivierlambert commented on #30
Check on your host about the Network ID, maybe it's something wrong fetch from `${data.xenorchestra_pif.pif.network}`

[2020-05-08 12:42] trigun539 commented on #30
@olivierlambert Since my XO has connection to two xcpng hosts. Checked hosts for network UUIDs and seems like Terraform randomly selects a host to create the VM in.

The problem is trying to match the storage to the randomly selected xcpnghost.

After a couple tests of changing the SR to match the right network for the right host. Now, there is a different issue:

Error:

[code]

After checking th

[2020-05-08 16:27] ddelnano commented on #29
@trigun539 the client error seems similar to #10 but we will need the XOA logs to confirm. I'm going to revisit #10 today while you provide the logs.

[2020-05-08 17:06] ddelnano commented on #30
@olivierlambert using the data resource PIF should work. Many of the acceptance tests use that (example [here](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/xoa/resource_xenorchestra_vm_test.go#L143)).

@trigun539 to rule out terraform have you tried using the XO cli to create the vm you want and we can compare that invocation to what terraform is doing? I have never us

[2020-05-08 18:30] trigun539 commented on #30
@ddelnano trying out xo-cli, could you point me to an example of creating a VM with xo-cli?

[2020-05-08 18:47] trigun539 commented on #30
Here is the xo-cli output:

[code]

Error:

[code]

[2020-07-13 15:00] dmcanally commented on #15
Has anyone found a workaround for this issue?

[2020-07-14 05:45] ddelnano commented on #15
Sorry for the silence on this issue. I can probably set aside some time this weekend for implementing this.

[2020-07-21 06:16] ddelnano commented on #15
@m0ps @dmcanally @MrOffline77 I have a PR open that has basic support for this. Right now it uses the Storage repository's `name_label` to identify it. You can see the example terraform code for it in the acceptance test I wrote [here](https://github.com/terra-farm/terraform-provider-xenorchestra/pull/31/files#diff-8988628c8179213427a7dfea14d19d0bR51). I'll have docs soon but that's the best thing

[2020-07-24 19:20] marlluslustosa opened #32 "Add duplicate PIF in the VM"
The form described by @ddelnano here https://github.com/terra-farm/terraform-provider-xenorchestra/issues/27#issuecomment-570122139  only works with different PIFs. If I try to add two identical PIFs he won't accept.

My case: I have an eth5 with a configured VLAN. So sometimes I have to pass two interfaces to the same VM. But it is not working.
`main.tf:`

[code]

Any idea?

[2020-07-24 19:27] marlluslustosa opened #33 "Add another disk to the VM"
How can I add a new disk to the VM, apart from the current disk?
My case: Create a VM and make it have two disks at startup.

`main.tf:`

[code]

it does not fail after `terraform apply`, however, the other disk is neither created nor attached to the VM.

this is normal? Any ideas / suggestions here?

[2020-07-24 23:10] marlluslustosa opened #34 "Support additional (cloud-init) network config in the xenorchestra_vm resource"
I usually use Xen Orchestra to load a cloud-config specific to a VM by also defining the network parameters in an additional box.

[![Screenshot-20200724-193418.png](https://raw.githubusercontent.com/marlluslustosa/images_forum/master/terraform-xoa/Screenshot_20200724_193418.png)

So when I used terraform, I saw that it is only supported to create the "user-data" file and not also the "network-con

[2020-07-26 07:21] ddelnano commented on #33
@marlluslustosa I have never tested that functionality out before with the `xenorchestra_vm` resource. The documentation should do a better job explaining what is / isn't tested or supported (which I can update through this as well).

I will need to take a look at how we can enhance the resource to take into account all disks, make sure they are attached to the VM and that terraform can correctly

[2020-07-26 07:25] ddelnano commented on #32
@marlluslustosa can you please post you `terraform apply` logs with the following environment variable set `TF_LOG=debug`?

This seems to be an issue with the `xenorchestra_vm` resource and not the pif data sources. As I mentioned in #33, since this provider is relatively new and has only included functionality that I use regularly I don't think the `xenorchestra_vm` resource knows how to attach 2

[2020-07-26 07:49] ddelnano commented on #15
Since I haven't heard any feedback on my proposal in #31 I'm going to move forward with it. It is a decent starting point and extra functionality can be added later if it doesn't solve the needs that led to this issue's creation.

[2020-07-28 15:36] marlluslustosa commented on #32
`main.tf`
[code]

terraform plan

[code]

TF_LOG:
https://bin.disroot.org/?3aa40c4718df1638#3doUi8iQobi35F24EFGa4Xy63rUEbhGpJwbuBgjSnk9y

[2020-07-30 14:57] marlluslustosa opened #35 "xoa_vm resource does not implement updates that can be applied without a VM halt"
I'm testing terraform features, like changing the state of a VM, like its name. After the VM is provisioned, I try to make a change of state by changing its name_label within the .tf file and running a new `terraform apply`. After executing this, terraform tells me that it changed the name of the VM, it is even shown in the output of the `terraform show`, but it is fictitious information because w

[2020-07-30 21:49] ddelnano commented on #35
@marlluslustosa the vm resource unfortunately does nothing on updates. Because the development of this project was mostly driven by the features I use most I haven't implemented this yet. I have updated this issues title to reflect the feature improvement and I will look into implementing this soon!

Really appreciate all the feedback you've given me through using the project!

[2020-07-30 22:20] marlluslustosa commented on #35
Sorry if I'm being too boring. lol
I like to test many of the tools I use. In this respect I like to be an avant-garde person and I saw that your project has a lot of future with the Xen Orchestra community.

I hope my contributions help to improve and give more ideas to this provider.

[2020-07-31 14:26] dmcanally commented on #15
Apologies for the lack of response on this (work and all).

I was able to test and it is working as desired, so THANK YOU for the quick feature add.

`
data "xenorchestra_template" "template" {
    name_label = var.template
}

data "xenorchestra_pif" "pif" {
    device = eth0
    vlan   = -1
}

data "xenorchestra_sr" "sr" {
  name_label = "Local storage"

}

resource "xenorchestra_cloud_config" "x

[2020-07-31 15:11] dmcanally commented on #15
Update: So I run 3 nodes in my xen pool. The current implementation will only worked for a pool wide SR. This will not work for leveraging "Local storage" sr. Each time terraform runs, data.xenorchestra_sr.sr.name_label will potentially be populated by a different node's Local Storage SR.

[2020-07-31 16:44] ddelnano commented on #15
@dmcanally thanks for the response. Sounds like we need to add `pool_id` to the sr data source and even add a pool data source (so that we don't need to pass pool ids).

Reopening and I'll find time to give this attention soon.

[2020-07-31 17:36] dmcanally commented on #15
I was able to work around this for now by giving each of the "Local storage" sr's in my pool a unique name (i.e. "Local storage 1", "Local storage 2", "Local storage 3" etc). I then pass that to xenorchestra_sr via a variable. When you push an update, I'll test as soon as I can.

Thanks,
Denver

[2020-08-08 05:39] ddelnano opened #36 "Add Pool Data Source"
This will make the storage repository data source easier to use. See #15 for more details.

[2020-08-08 05:52] ddelnano commented on #15
@dmcanally I have just created version 0.3.2 which adds an optional `pool_id` attribute (PR #37). Please upgrade and let me know if this behaves as expected. The change is covered by acceptance tests so I am confident it should work well.

I have created #36 as a follow up item so that you won't need to have all of your pool IDs hard coded in the terraform files. I intend to fix that soon.

[2020-08-09 20:09] ddelnano commented on #36
This was implemented in #38

[2020-08-09 20:09] #36 closed

[2020-08-11 06:28] ddelnano opened #39 "XO VM Templates do not work with the xenorchestra_vm resource"
I've been having a discussion in Discord with a user that is trying to create a `xenorchestra_vm` resource using one of the out of the box VM templates as the template attribute. The following code reproduces the problem.

[code]

Applying this code causes the following error

[code]

The user that reported this issue shared the following stack trace which links the problem back to the fact that X

[2020-08-11 07:19] olivierlambert commented on #39
VM templates without an existing disk can't use Cloudinit because it means there's no Cloudinit already installed in the VM. That's why we have 2 kind of templates: "diskless" ones, with only some metadata info (BIOS settings, sort of), and templates with existing disks (ie when you turn a VM into a template). Only the latter can be used with Cloudinit, because there's already an OS installed (hop

[2020-08-12 06:21] ddelnano commented on #39
Ah I see. So the terraform provider will need to inspect the template before creating the VM (maybe later on down the line the XO api could provide a different mechanism for dealing with this?).

If the provider needs to create the VM with the "iso template" I'm still not clear on how to use the `vm.create` rpc call to accomplish that. From some documentation I've read on creating a [VM manually](

[2020-08-14 19:00] ddelnano opened #40 "xoa_vm resource does not implement updates for attributes that require halting the VM"
Attributes like memory and cpu require the VM to be halted before they can be applied. Since that is more complexity than updating the simpler attributes at runtime I am going to accomplish this separate from #35

[2020-08-14 19:00] ddelnano commented on #35
I'm going to split this into a few different issues. The VM resource has a significant amount of complexity (some options can only be applied if the VM is shutdown, others at runtime, etc).

I've created #40 for the updates that require the VM to be shutdown first and I've updated this issue to reflect updates that can be done without halting the VM.

[2020-08-14 20:09] olivierlambert commented on #40
In theory, it can be done live IF it's within some boundaries: can change vCPU numbers from 1 to max vCPU. Memory can be change within the dynamic range, capped by static range.

But it's complicated. I suppose it's more reasonable to do that when they are powered off.

[2020-08-14 21:02] ddelnano commented on #40
Yea I still haven't fully grokked all the cpu and memory settings for VMs yet. I think that would be a great optimization (and I'll make sure to create a separate issue for it) but for now I will focus on making these updates possible and then edge cases can be made better in the future.

[2020-08-16 06:14] ddelnano opened #42 "Improve jsonrpc error handling"
The jsonrpc library that this project uses handles errors from the jsonrpc payload out of the box. Unfortunately this swallows a useful information that would make the user experience better. Here is an example of where the extra information would be useful.

While testing out #41 I intentionally supplied an invalid value for the `high_availability` attribute by running the following code.

[code]

[2020-08-16 07:12] ddelnano commented on #42
This was addressed in #43

[2020-08-16 07:12] #42 closed

[2020-08-17 07:35] ddelnano commented on #15
I'm going to close this again since #37  and #36 have both been implemented. Please let me know what you think when you give this a try.

[2020-08-17 07:35] #15 closed

[2020-08-18 06:28] ddelnano opened #47 "Publish the provider to the terraform registry"
The terraform registry is a new way for terraform users to install providers. It means that users will no longer need to install this project's binaries since terraform 0.13 will be able to download them on behalf of the user. This ensures that user's using the new version of terraform can easily use the provider and will simplify the setup for existing users

[2020-08-18 07:34] ddelnano commented on #47
This was started in #48

[2020-08-18 17:33] dmcanally opened #49 "extract IP address from created VM's"
I can't seem to find a way to extract/output the ip address from created VM's.

I am trying something like this...

[code]

Any advice would be greatly appreciated.

[2020-08-18 17:45] ddelnano commented on #47
This is now done and v0.3.7 is the latest release published to the registry. You can see the new [documentation](https://registry.terraform.io/providers/terra-farm/xenorchestra/latest) on the registry page for the provider.

[2020-08-18 17:45] #47 closed

[2020-08-18 21:09] ddelnano commented on #49
@dmcanally how are you assigning an IP to the VM? Is it over DHCP, do you have a static IP? If it's the former I don't know that the provider will be able to know the IP address at creation time.

I'm also not well versed with Xenserver/XCP-ng's networking but it does seem like you can assign IPs to VIFs (https://wiki.xenproject.org/wiki/Xen_Networking) but I'm not sure what implications that mean

[2020-08-18 23:56] dmcanally commented on #49
I am using DHCP, Im trying to build a kube on xcp-ng terraform module with as little input as possible. So far I have terraform rke and xenorchestra plugins working pretty well, but the one thing I'm not able to pass from one plugin to the other are ip addresses and hostnames.

something like a data resource for virtual machines would work. With this method, I would be able to dynamically grow a k

[2020-08-19 07:55] olivierlambert commented on #49
You can't pass an IP to a VIF directly from the hypervisor API. This is a setting meant to be fixed by the VM OS.

However, you can use Cloudinit if your VM template got Cloudinit installed/configured with `noCloud` source :)

[2020-08-20 00:24] ddelnano commented on #49
Yea I think Cloudinit, configuration management or some other runtime process is appropriate here. With cloudinit you could assign the kube primary nodes static IPs and then the rest of the nodes could have IPs via DHCP.

@dmcanally I think having a vm data source would be a great addition to the provider but unfortunately extracting the IP address from the VM doesn't seem feasible from the apis t

[2020-08-20 00:24] #49 closed

[2020-08-21 01:24] dgmcdona opened #50 "Need VIF resource"
I would love to see support for creating/destroying/assigning SDNs. This would make possible the creation of much more complex networks between VMs.

[2020-08-21 08:00] olivierlambert commented on #50
I'm not sure to get it.

A `VIF` object is a link between a `network` and a `VM`, as you can see here:

![](https://xapi-project.github.io/xen-api/classes.png)

What do you mean by "need VIF resource"?

[2020-08-23 22:48] ddelnano opened #52 "Unify the pattern of retrieving XoObjects from the XO api"
There are two types of patterns I have been using to retrieve entities (Vm, Template, VIF, PIFs, etc) from the XO api.

The first is by having a struct implement the XoObject interface. This works by defining a `Compare` and `New` method.

[code]

The former decides if a given object matches the entity we are searching for. The latter defines how a new struct is initialized from the data received

[2020-08-26 17:38] dgmcdona opened #53 "resourceSet option for vm resource"
We're considering the possibility of distributing terraform configs to students, and it would be great if they could create VMs inside of their designated resource sets. I currently get a permissions error when attempting to create a VM via terraform for resource set users.

[2020-08-27 00:59] ddelnano commented on #53
@dgmcdona I wasn't aware of resource sets until you brought up this but that sounds like a great thing to add support for.

My main focus right is getting more functionality for vm disk and network configurations but this shouldn't be too difficult to implement. I will look into this after I'm done with the other work I have planned.

[2020-08-30 16:36] ddelnano opened #56 "Terraform plan does not show a diff when a network interface is disconnected"
The implementation in #54 works for the majority of use cases, however, I noticed that if a VIF is disconnected terraform doesn't realize that it needs to be reattached. I believe this is related to the `attached` attribute being computed. I tried to make the attribute optional and have a default value but that seemed to cause issues with existing VIFs (terraform thought they needed to be recreate

[2020-08-30 16:50] ddelnano opened #57 "Resolve PV driver issues with the terraform acceptance test VM template"
When I was developing #54, I noticed that when my terraform acceptance code tried to create a second VIF for a VM I would receive the following error from the XO api.

[code]

What made this very confusing was that if I created a VM from the same template through the XO web UI or calling `vm.create` with the xo-cli I never experienced this issue. I did notice that when the terraform acceptance tes

[2020-08-30 20:59] ddelnano opened #58 "XO api client should provide context on why an entity was not found"
The XO rpc call `xo.getAllObjects` is used for retrieving most XO api objects / entities. When an entity is not found it's important to understand why the "query" failed to return any results.

Right now when the client fails to find a result the client returns an error like this.

[code]
In this case the problem was that an invalid mac address was provided so seeing the entire query would help to

[2020-08-30 21:07] #32 closed

[2020-08-30 21:07] #50 closed

[2020-08-31 00:24] ddelnano commented on #50
@dgmcdona this should be fixed in #54 and is available in version v0.4.0 of the provider.

[2020-08-31 00:34] ddelnano commented on #32
This should be fixed in #54 and is available in version v0.4.0 of the provider. Please let me know if it doesn't solve your use case!

[2020-08-31 00:49] dgmcdona commented on #50
@ddelnano thanks! Can’t wait to check it out tomorrow.

[2020-08-31 01:28] ddelnano commented on #50
If this doesn't solve your use case please reopen and let me know what is missing!

[2020-08-31 02:27] ddelnano commented on #58
This was addressed in #59.

[2020-08-31 02:27] #58 closed

[2020-09-04 04:41] dgmcdona opened #60 "Feature Request: SDN as a resource"
WIth networks that are tied to the pool's physical infrastructure, it's uncommon to make changes to these networks within Xen Orchestra (storage networks, VLANS, etc). However, the ability to create and destroy software defined networks, such as a VxLAN or GRE networks, has a lot of potential.

For instance, we are looking into using terraform as part of a 'cyber-range' cybersecurity learning infr

[2020-09-04 06:57] ddelnano commented on #53
To make sure I understand how the feature works I did the following test:

1. Create non admin user
2. Create a resourceSet with cpu, memory and disk limits. Add the user from the previous step as a "subscriber" and add a storage repository, network and VM-template IDs as "objects"

[code]

3. Run the `vm.create` command specifying the same storage repository, network ID and VM template as the cor

[2020-09-04 07:15] ddelnano commented on #53
@dgmcdona I am picturing this working by the following:

1. Create a `xenorchestra_resource_set` resource and data source. The resource will allow admins to create a resourceSet along with managing the amount of CPU, disk and memory, objects in the resourceSet and subjects (users). The data source will be used by whoever is launching resources associated with the resource set. Their account won't

[2020-09-05 07:10] dgmcdona commented on #53
This looks great! The only thing that I would add, which I was thinking of today, would be the ability to create ACL entries as well. It might be the case that the instructor simply wants to apply the terraform configuration on their machine, and have each student automatically receive access to their own resources via ACL entries. Right now, I am accomplishing this via a python script that uses `

[2020-09-05 07:13] dgmcdona commented on #60
Just wanted to note here that this functionality is currently restricted to XO admins only.

[2020-09-08 20:40] dc232 opened #61 "vm does not get created get jsonrpc2: code -32000"
terraform version
[code]

terraform var file
[code]

terraform file
[code]

validation
[code]

error
[code]
 form the logs in xoa
[code]
**Questions**
Question is why do I get for an undefined opaque via a data request?
From what I can tell from the logs this parameter is defined?
Also, the vlan = -1  does this tell xcp to not tag the 802.1q frame?
Also there does not seem to be any mention in the

[2020-09-08 21:06] dc232 commented on #61
Did a bit more debugging and i think this is a result of the template UUIDs being incorrect which is bizarre given its a data element, so its meant to be coming as a value from xoa

Anyway turns out the template UUID exspected value is meant to return in my case
74ae424d-a1d3-4d96-9827-d1d60a4c7511

the actual value appears to be
747790ba-f502-4ca8-bdcf-fbc1f2f6db81

unless OpaqueRef and UUID are

[2020-09-08 21:13] dc232 commented on #61
turns out i was mistaken
[code]

[2020-09-08 21:25] dc232 commented on #61
well im stumped just the id through the xo-cli and it reports correct no idea what the UUID error is on about OpaqueRef:747790ba-f502-4ca8-bdcf-fbc1f2f6db81

[2020-09-09 01:44] ddelnano commented on #61
Hi @dc232, thanks for giving the provider a try!

The reason ISOs can't be specified is because the provider is expecting you to pass a VM template that has a disk with an OS already installed. This is also why you are seeing the `no object with UUID or opaque ref: undefined` error. Basically the template you are using is not compatible with the underlying api call the provider makes.

In order to

[2020-09-09 01:44] #61 closed

[2020-09-09 16:55] dc232 commented on #61
Hi @ddelnano thanks for the speedy reply, what's the discord link? I'm keen to have more of a look at the terraform provider, I also wanted to understand if there is a way to adding tagging to the bonded network interface at the mo it looks like xcp accepts only untagged frames when using VM's

[2020-09-09 18:04] ddelnano commented on #61
The discord link is in the README. The tagging piece I'm not quite sure so maybe we can continue that chat there?

[2020-09-20 02:52] njk464 opened #63 "Feature Request: Allow mac_address to be optionally defined"
Let the mac address optionally be set.

Example

[code]

[2020-09-21 17:54] ddelnano commented on #53
I have the bulk of this done in #62. However, I'm waiting on a xenorchestra release (vatesfr/xen-orchestra#5265) since the `resourceSet.removeSubject` rpc call was broken.

[2020-09-21 21:34] ddelnano commented on #63
This is fixed in v0.4.1 of the provider. Thanks again @njk464!

[2020-09-21 21:34] #63 closed

[2020-09-21 22:44] ddelnano opened #66 "Pif, Template and storage repository data source panics when there are multiple matches"
While trying to get the acceptance tests to run against the xo lab, I noticed that the pif data source panics during the acceptance tests.

[code]

The data source should allow more fine grained filtering with network, pool or host information and also should never panic. I believe the storage repository data source also has this bug.

[2020-09-21 22:47] ddelnano opened #67 "Add network data source"
When creating a vm our docs show to use the the pif data source. The vm resource actually needs a `network_id` not a pif so this is a round about way of providing the correct input. Also in larger deployments there is a higher likelihood that there will be duplicate pifs leading to issues like #66. While the pif and storage repository data sources need to be fixed, providing a network to the VM is

[2020-09-21 22:48] ddelnano commented on #67
Adding this to the testing improvements milestone because this was discovered as a way to make the tests easier to run against the xolab and my home setup.

[2020-09-29 06:39] ddelnano commented on #67
This will be available in v0.4.2

[2020-09-29 06:39] #67 closed

[2020-10-04 04:58] ddelnano opened #72 "Add support for ACLs"
See the discussion on https://github.com/terra-farm/terraform-provider-xenorchestra/issues/53#issuecomment-687564225.

[2020-10-04 05:00] ddelnano commented on #53
I've created #72 to track the ACL support but the functionality I've outlined in my comment above now exists in v0.5.0 so this is complete!

[2020-10-04 05:00] #53 closed

[2020-10-15 15:46] ddelnano commented on #52
I was able to use reflection to accomplish this. The `XoObject` interface no longer requires a `New` method to hydrate a struct. Instead it will json decode based on the json struct tags.

[2020-10-15 15:47] ddelnano commented on #66
This is fixed in v0.6.0

[2020-10-15 15:47] #66 closed

[2020-10-15 16:53] ddelnano commented on #13
This is fixed in v0.7.0

[2020-10-15 16:53] #13 closed

[2020-10-15 17:00] ddelnano commented on #2
I created when I was new to how terraform did acceptance testing. As new tests have been added the appropriate level of assertions have been added. As a result, I think we can consider this done.

[2020-10-15 17:00] #2 closed

[2020-10-15 17:06] njk464 opened #76 "device number of network interfaces for a vm resource is not assigned in order defined"
The creation of networks on a vm seems to be ordered by the hashcode of the network string.

Lines 148-157 in https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/xoa/resource_xenorchestra_vm.go
[code]

This has been causing the device numbers to not be assigned in order of declaration in the terraform file.

Example

[code]

This vm resource will consistently end up having th

[2020-10-17 18:09] rmb938 opened #79 "If VM is manually deleted outside of terraform the provider errors"
If I let terraform create the VM via a `terraform apply` then manually delete the VM in Xen Orchestra the provider errors instead of trying to re-create the VM

[code]

Error:

[code]

[2020-10-19 04:25] ddelnano commented on #79
@rmb938 thanks for bringing this up.

This is a flaw in the other resources of the provider as well. I've started a fix for the VM resource in #80.

[2020-10-19 06:49] ddelnano commented on #79
This is fixed in v0.7.2

[2020-10-19 06:49] #79 closed

[2020-10-19 14:26] brd opened #81 "Crash when talking to an unresponsive XOA"
Using 0.7.2 of the provider and earlier, try pointing XOA_URL to any random IP:

[code]

It probably should exit more gracefully

[2020-10-19 16:27] ddelnano commented on #76
@njk464 thanks for flagging this issue. When I was working on implementing this I tried a list type (which is ordered) in my first attempt but later switched to a set (which is unordered but can create lists that have deterministic ordering) because it made adding and removing VIFs easier ([source](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/master/xoa/resource_xenorchestra_

[2020-10-19 22:27] ddelnano opened #84 "Add test sweepers for all terraform acceptance tests"
Right now the test suite has partial support for test sweepers. They also are executed by the test suite internally. These sweepers should be exposed to terraform so resources can be cleaned up prior to a test run. This helps in the case that a code change causes the test suite to panic and leaves resources around.

In addition our `TestMain` function should be able to recover from test panics so

[2020-10-19 22:41] ddelnano commented on #81
This is fixed in v0.7.3

[2020-10-19 22:41] #81 closed

[2020-10-20 20:58] brd opened #85 "xenorchestra_cloud_config and template_file"
I am trying to template my cloud-init config so I can pass in the hostname.  I am not sure if I am going about this the wrong way or if something like this should be possible.  I would like to pass a template_file into the xenorchestra_cloud_config resource, but it expects a string instead of an object.

When trying this:

[code]

I get the following error:

[code]

Thanks for looking!

[2020-10-21 01:23] ddelnano commented on #85
You need to use the rendered attribute on the `template_file` https://registry.terraform.io/providers/hashicorp/template/latest/docs/data-sources/file#rendered. That will give you the template content as a string.

[2020-10-21 01:31] ddelnano commented on #85
Happy to continue to debug this but I'm going to close this issue since this appears to be more general help rather than a bug or improvement to the provider.

[2020-10-21 01:31] #85 closed

[2020-10-21 02:12] brd commented on #85
Is this what you mean?

[code]

That gives:

[code]

[2020-10-21 02:40] ddelnano commented on #85
The `xenorchestra_cloud_config` resource doesn't have a `rendered` attribute. You need to use the following:

[2020-10-21 02:46] brd commented on #85
Aha, that worked.  Thank you!

[2020-10-22 20:18] fabiocruzcoelho opened #87 "Set hostname when creating VMs"
Hi,

I am testing the provider to manage my VMS, it already creates and updates my VMS, however it does not define the hostname according to the name of the VM.

![image](https://user-images.githubusercontent.com/13903548/96924966-d3b71c00-1489-11eb-8044-f8d6b2700241.png)

The VM created from the template has the hostname defined in the template.

Is there an option for the hostname to be changed

[2020-10-23 01:10] ddelnano commented on #87
@fabiocruzcoelho the `name_label` of the VM is just metadata. It won't change anything related to the hostname.

You will need to do this with cloud-init but I'm not sure what you mean by "but it doesn't accept the count object to count the VMs.". Could you give me an example?

[2020-10-23 14:04] fabiocruzcoelho commented on #87
Follow my test cloud-init.

[code]

when I execute terraform plan returns the error, below I understood that count can only be used on data, resources.

[code]
would you like to pass this count using a cloud-init template with tpl?

Thank

[2020-10-23 14:29] ddelnano commented on #87
You need to you `count` on the xenorchestra_cloud_config resource as well. Also your `xenorchestra_cloud_config` resource will need to parameterize the name otherwise the additional cloud configs will overwrite each other.

I'm going to close this since this is not a bug or feature request for the provider

[2020-10-23 14:29] #87 closed

[2020-10-30 16:59] brd commented on #34
This requires defining something very similar to `cloud_config` on the xenorchestra_vm resource, perhaps called `network_config`?

[2020-11-02 04:43] ddelnano commented on #57
I found out that this actually a race condition. If the VIF attachment, detachment code runs before the guest kernel has loaded its drivers it throws that error. The key was to add `time.Sleep`s into the code for now and the test mentioned above has been re-enabled.

[2020-11-02 04:43] #57 closed

[2020-11-02 06:04] ddelnano commented on #76
@njk464 I ended up switching the resource to use a List rather than a set. The details are in #86 and this fix will be available in v0.8.0 of the provider.

[2020-11-02 06:04] #76 closed

[2020-11-02 06:04] ddelnano commented on #56
This was fixed in #86 and will be available in v0.8.0 of the provider.

[2020-11-02 06:04] #56 closed

[2020-11-12 06:08] ddelnano opened #88 "Deleted VM causes provider to error rather than recreate the resource"
When a VM is destroyed but still exists in the statefile the provider will show the following error

[code]

The expected behavior is that the provider will realize the resource is missing and will attempt to recreate it.

[2020-11-16 17:26] brd commented on #34
@ddelnano Can you take a look at this?  I can't find any docs on the xen orchestra API..

[2020-11-17 05:24] ddelnano opened #90 "Create Vm during client package tests if one doesn't already exist"
This is something that will allow the client package tests to run from a blank slate. It also ensures that we can perform actions on this Vm without any worry that it is mutating any real infrastructure.

The vm will need to be created with a tag so that it can be easily queried to make later test invocations quick.

[2020-11-17 06:27] ddelnano commented on #34
Sorry for the delay on this. I believe this network config is just another parameter to the `vm.create` rpc call.

[code]

This should be easy to support but I'm not sure that this should be its own resource though. The XO api doesn't have a "network config" object. While the network config is ultimately added to the cloud-init drive attached the the VM, the cloud config object in the api does not

[2020-11-17 13:09] brd commented on #34
Yeah, it doesn't need its own resource, just a way to apply a template to the `xenorchestra_vm` resource.

[2020-11-17 20:58] ddelnano commented on #33
This will be fixed in v0.9.0 of the provider (released later today).

[2020-11-17 20:58] #33 closed

[2020-11-18 03:52] ddelnano commented on #34
This fix will be released in v0.9.1

[2020-11-18 03:52] #34 closed

[2020-11-18 15:29] marlluslustosa commented on #32
thanks for the effort! :+1:

[2020-11-18 15:33] olivierlambert commented on #32
@marlluslustosa also if you have a repo somewhere or feedback on your real use cases, it's very welcome! At some point, we'll document it officially in XCP-ng or XO doc, and more feedback means better doc!

[2020-11-18 15:34] marlluslustosa commented on #33
thanks for the effort!

[2020-11-18 15:41] marlluslustosa commented on #32
I am currently implemented in an internal environment and have been successful.
Soon I will add the files to my public repository and I am also offering to contribute to the official documentation soon.

Hugs! :)

[2020-11-18 15:42] olivierlambert commented on #32
Great, eager to see that!

[2020-11-22 18:27] brd commented on #34
Works like a charm, thanks @ddelnano !

[2020-11-23 18:43] andbut opened #92 "terraform init fails with "Error: Failed to install provider""
I am using the following config

[code]

But encounter the following error when I run terraform init

[code]

[code]

[2020-11-24 02:13] ddelnano commented on #92
@andbut can you run `TF_LOG=trace terraform init`? Please search that output to make sure your XO credentials are not in it.

From looking at your code it seems correct and I'm surprised that it's trying to install the hashicorp version of the plug-in (which wouldn't exist)

[2020-11-24 08:24] andbut commented on #92
Here you go

[code]

[2020-11-24 15:47] ddelnano commented on #92
@andbut I see the issue now. You have two parts of your code declaring the provider.

The first is the modern terraform syntax
[code]

The second is legacy and should only be used if you are on a terraform version < 0.12
[code]

Remove the second code block and your `terraform init` will run properly. Sorry for not catching that sooner as I was on mobile the first time and didn't see the duplicate

[2020-11-24 15:47] #92 closed

[2020-11-25 00:26] ddelnano commented on #28
With the latest improvements made in #89, this is more approachable to implement.

[2020-11-25 08:41] andbut commented on #92
Thanks for that - but please consider updating your Getting Started instructions accordingly, as I literally just copied it from there.

[2020-11-25 08:52] andbut commented on #92
Sadly that still does not work - my config is now

[code]

But the issue still occurs

[code]

[2020-11-25 08:55] andbut commented on #92
Ok - I think I found the issue.

The problem is caused by me using modules - if I place the config block

[code]

In both the terraform module - and the state file that uses the modules then init runs successfully

[code]

[2020-11-25 15:44] ddelnano commented on #92
Thanks for highlighting that the instructions are wrong. I've opened #93 to fix the documentation issue.

And yea for any module that references the provider you will need to add that block. Glad you got it working and thanks for improving the documentation of the project!

[2020-11-28 05:16] ddelnano opened #95 "Create xenorchestra_user data source"
When working with ACLs it would be helpful to be able to look up user accounts with a data source.

Once #94 is released, users will need to do the following when adding ACLs for a user account

[code]

Adding a `xenorchestra_user` data source would allow using a user's username to more easily look up the id of a user. This would transform the code above to the following.

[code]

[2020-11-28 19:09] userbradley opened #96 "Add support for generating terraform files from existing infrastructure (terraformer support, reverse terraform)"
This is a continuation of [this issue](https://github.com/ddelnano/terraform-provider-xenorchestra-intro/issues/1) to have a terraform import.

Items to import would be:

- VM's
- networks
-SR's
-Disks

These seem to be the most used items that I would want to manage through IaC

[2020-11-29 08:27] ddelnano commented on #95
This will be available in the next provider release (v0.10)

[2020-11-29 08:27] #95 closed

[2020-11-29 08:28] ddelnano commented on #72
This will be available in the next provider release (v0.10)

[2020-11-29 08:28] #72 closed

[2020-12-01 06:44] ddelnano commented on #20
I haven't experienced issues with this since I created the issue so I'm going to close this for now.

[2020-12-01 06:44] #20 closed

[2020-12-02 08:17] ddelnano commented on #49
@dmcanally with v0.10.0 of the provider you should be able to specify cloud-init network configuration to launch an instance with a static IP. The latest docs on the [terraform registry](https://registry.terraform.io/providers/terra-farm/xenorchestra/latest/docs/resources/vm) have more details.

[2020-12-08 07:33] ddelnano commented on #28
@moisei this has been implemented in v0.11.0 of the provider.

[2020-12-08 07:33] #28 closed

[2020-12-22 21:59] ddelnano opened #99 "xenorchestra_vm shows network and disk attachment diff when shutdown"
I recently shutdown a VM and ran and `terraform plan` and noticed the following diff

[code]

When a VM is shutdown the attached attribute on network and disk attributes should be ignored.

[2021-01-12 06:47] ddelnano opened #100 "Accurately read the template attribute for xenorchestra_vm resources"
Currently if you import a VM, the `template` attribute will always be an empty string, however, this is a required parameter for the resource. This creates a problem where specifying the correct value causes Terraform to believe that it needs to recreate the resource. The true `template` value is accessible from the XO api in the `other` key

[code]

When terraform refreshes its state it should re

[2021-01-12 15:49] d1rtym0nk3y opened #101 "xenorchestra_vm resource manage tags"
Would be great to be able to specify tags for created vm's (and other objects that support tags)

### Desired behaviour
 - The provider should ensure that tags specified on the resource exist in XOA.
 - If a tag is removed from the TF resource the provider should attempt to remove it in XOA
 - The provider should not attempt to manage tags that have been manually added via XOA

[2021-01-12 22:04] michaelkoetter opened #102 "Allow insecure TLS connections (ie. self-signed)"
I'm running XO from the sources with a self-signed certificate. This leads to the following error:
[code]

I know I could probably add the self-signed CA to some system store to make it work ... :smiley:
But it would be much easier to have an "insecure" flag like most other TLS tools, which would basically skip certificate validation.

[2021-01-13 08:54] ddelnano opened #103 "memory_max attribute on xenorchestra_vm is not persisted to terraform's state"
There was an issue early on in the project that caused me to prevent adding the `memory_max` attribute to the `xenorchestra_vm`'s state. As a result the following code was [commented out.](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/4a5c0c7b3e8dfdf07f1833878d5244e0d7dd14d9/xoa/resource_xenorchestra_vm.go#L541)

We should get to the bottom of the error and fix this so that it

[2021-01-13 09:07] ddelnano commented on #102
@michaelkoetter appreciate the feedback. I think this should be configured through an environment variable or the provider configuration (provider.tf) since terraform launches the provider and so there isn't an opportunity to pass an "insecure" flag.

[2021-01-13 09:19] ddelnano commented on #101
Hey Chris, thanks for raising this issue and I agree that tags could be more widely used across many of the resources (currently on the `xenorchestra_sr` data source has a `tags` attribute).

Your first and second criteria are possible, however, `The provider should not attempt to manage tags that have been manually added via XOA` is not possible. It isn't feasible because Terraform won't have any

[2021-01-13 09:36] michaelkoetter commented on #102
Maybe something like this?

[code]

[2021-01-13 09:39] ddelnano commented on #102
yep, would that work for your use case?

[2021-01-13 09:39] ddelnano commented on #103
This was fixed in v0.11.2 of the provider.

[2021-01-13 09:39] #103 closed

[2021-01-13 09:41] michaelkoetter commented on #102
yes that would be perfect :)

[2021-01-13 11:10] ultreiac opened #105 "Error while creating a new virtual machine"
Hi, I am getting this error while running **terraform apply**:

**Error**: json: cannot unmarshal bool into Go struct field Vm.high_availability of type string

main.tf is  [here](https://github.com/terra-farm/terraform-provider-xenorchestra/files/5808069/maingit.tf.txt)

Software:

- xo-server 5.18.3

- Terraform v0.14.2

Thx in advance

[2021-01-13 13:47] d1rtym0nk3y commented on #101
Having terraform be able to add tags would be a huge win 👍

Re: `the provider should not attempt to manage tags that have been manually added via XOA`

If I create a vm with tf; lets say with `tag:a` and `tag:b`. tf will store that in its state. If i then remove `tag:b` from my config, and apply the change it knows i've removed `tag:b`,  so the only action it should take is to ensure that `tag:b`

[2021-01-13 20:16] ddelnano commented on #105
@ultreiac what version of the provider are you using? I see `~> 0.5` specified but what version is installed? If it's not the latest have you tried upgrading your provider version?

Please attach terraform debug logs by running `TF_LOG=debug terraform plan` to this issue.

[2021-01-13 20:30] ddelnano commented on #101
@d1rtym0nk3y terraform doesn't track state across runs. Meaning Terraform doesn't remember what tags it was initially created with. It only knows what is currently in the configuration and what exists in the XO api.

There is some support for using `ignore_changes` with [map data types](https://www.terraform.io/docs/configuration/meta-arguments/lifecycle.html#ignore_changes) (which tags would be).

[2021-01-13 21:00] d1rtym0nk3y commented on #101
My misunderstanding then, I was under the impression tf tracked state between runs.
It probably is better to manage tags via tf config anyway

[2021-01-14 02:07] ddelnano commented on #102
This will be released in v0.12.0

[2021-01-14 02:07] #102 closed

[2021-01-14 02:08] ddelnano commented on #105
Also I recommend you joining the Discord mentioned in the README. It will be much easier for us to debug this.

[2021-01-14 09:31] ultreiac commented on #105
@ddelnano I upgraded to latest version the provider and Xen Orchestra and it is working.

[2021-01-14 09:31] #105 closed

[2021-01-17 22:17] ddelnano opened #108 "Add iso support to the xenorcestra_vm resource so VMs can be installed on diskless templates"
This is related to #39 but I decided to create a new issue specifically focused on adding iso support

[2021-01-18 14:07] brd opened #109 "Expose Affinity host on xenorchestra_vm resource"
Launching VMs using terraform sometimes ends up with multiple of the same VM role on the same host, sometimes it would be nice to pin the VMs to specific hosts.

What do you think about exposing the 'affinity host' config option from the advanced tab?

[2021-01-19 05:15] ddelnano commented on #109
There are lots of features that the `xenorchestra_vm` resource doesn't currently support and adding affinity host is definitely one of those things. This is absolutely something that should be possible from terraform.

[2021-01-19 05:27] ddelnano commented on #101
This will be available in the next release (v0.13.0). I'm going to try and get some other features in that release so it won't be available until later this week.

[2021-01-19 05:27] #101 closed

[2021-01-21 04:23] ddelnano commented on #109
@brd I have the support for this implemented in #110

However, there is still one aspect that needs work: how the `affinity_host` value is determined. I was thinking that could be provided by a new data source for hosts as described below.

[code]

Can you tell me how these affinity hosts are usually identified in your deployment? Would a data source like I've described work for your use case?

[2021-01-24 10:13] dc232 opened #111 "Max memory value does not persists between terraform applys"
when making changes to a vm resource and then running the terraform plan/apply command the max memory value does not change from the default an example can be seen below

[code]

[2021-01-26 03:28] ddelnano commented on #111
@dc232 is the problem that the memory value is never updated? Or that Terraform is incorrectly determining the current value? The former is expected until #40 is addressed. The latter would be a new bug.

If that is the case apologies for not understanding your question correctly in Discord.

[2021-01-26 16:05] ddelnano opened #112 "Add IP address as an attribute on VMs"
This was previously discussed in #49. At the time, I wasn't sure there were workable solutions, however, I had an idea on how to implement this.

If a VM has XCP-ng / Xenserver guest tools, Terraform should be able to access the VMs ip address (the same way the xenserver packer builder does [here](https://github.com/ddelnano/packer-builder-xenserver/blob/master/builder/xenserver/common/step_wait_f

[2021-01-26 16:06] ddelnano commented on #49
Also wanted to follow up that #112 aims to implement this support by leveraging guest tools. @dmcanally please let me know if that would work for your use case!

[2021-01-26 16:08] ddelnano opened #113 "Add cloud_config data source"
We've had a cloud_config resource for quite some time but there are additional use cases that can be supported by adding a cloud_config data source.

[2021-01-26 17:52] dc232 commented on #111
@ddelnano I suspect the answer is both my reasoning for this is that the max memory value was defined at the initial apply of the terraform file so it should already be set to 1073733632 not 8589934592 even when updating other changes within the terraform file

The initial terraform code for testing can be found below
[code]

[2021-01-27 05:29] ddelnano commented on #101
Sorry for the delay but v0.13.0 is now released.

[2021-01-28 04:51] Vagrantin opened #114 "Ensure terraform provider passes properly formatted mac address to XO api"
Hello,
First of all thank you for this great plugin !

 I’m currently testing it and I have notice that the Mac Address format is important, where you should use colon `:` instead of dash `-`.

I believe this is a Terraform limitation with **[identifiers](https://www.terraform.io/docs/language/syntax/configuration.html)**
Since Go doesn’t have any issue to parse any [common type of Mac Address](ht

[2021-01-28 06:15] ddelnano commented on #114
This has nothing to do with the HCL language itself. The provider's validation allows for all possible mac address inputs but the XO api needs to a mac address with colons.

The provider needs to convert all mac addresses to use colons before making the request to XO. I found this from looking at the XO server's logs while creating a VM.

[code]

[2021-01-28 08:09] ddelnano commented on #114
@Vagrantin #115 should fix this problem. Thanks for highlighting this issue!

[2021-01-28 13:28] Daniel-Avo opened #116 "BIOS settings with terraform"
I would like to create terraform template that will create vm on xen orchestra and before installing OS it will setup some variables like system serial number and so on. Is it possible via terraform or I should use other tool?

https://support.citrix.com/article/CTX230618

[2021-01-29 07:15] ddelnano commented on #116
@Daniel-Avo this is likely something that can be supported but I'll need some additional information on how you are trying to use this.

As of right now, you can launch a VM through Terraform with a VM template that has the BIOS settings you want. When the VM is created the BIOS settings will be copied from the template to the VM.

Would that accomplish what you are trying to do? If so the next st

[2021-01-29 07:28] Vagrantin commented on #114
Super thank you !
Once PR is done will test it and let you know.

[2021-01-29 07:48] ddelnano commented on #112
This could actually be accomplished in two parts. I didn't realize that the XO api returns these ip addresses in the "addresses" key on the `xo.getAllObject` response.

[code]

The tuple specified above is device number / proto / _something_. I still need to track down what that "something" is.

[2021-01-29 08:56] Daniel-Avo commented on #116
@ddelnano I wanted to enter to BIOS settings via tf file is it possible?

[2021-01-29 13:26] Daniel-Avo commented on #116
I want to set some variables in BIOS from tf file. Start the VM without os and when the vars will be set install os.

[2021-02-01 07:56] ddelnano opened #118 "Unify cloud config client code with the other objects' design"
While adding support for the cloud config data source, I realized that the `GetCloudConfig` method returns `nil, nil` in the case that the cloud config is not found. This api should be updated to behave more similarly to the other XO api methods (which return a `client.NotFound` error in these cases). Unfortunately making this change causes all the cloud config resource acceptance tests to fail so

[2021-02-01 08:09] ddelnano commented on #114
This is available in v0.13.1

[2021-02-01 08:09] #114 closed

[2021-02-01 08:10] ddelnano commented on #113
This has been released in v0.14.0.

[2021-02-01 08:10] #113 closed

[2021-02-01 08:13] ddelnano commented on #116
Sorry I was out of town the past few days.

Thanks for clarifying. This is actually two feature requests then. There needs to be support for updating BIOS settings in terraform and there needs to be support for launching a VM without an already installed OS which is being tracked in #108.

[2021-02-02 03:34] brd commented on #109
@ddelnano Wow, thanks for your work on this!

I think for me, I would like to see it be something we could leverage count with, so if I have something like:

[code]

That would result in 3 VMs called: host0, host1, host2 respectively on xen0, xen1, xen2.

[2021-02-04 08:21] gohumble commented on #109
Hello @ddelnano,

yesterday I faced a similar issue. I wanted to set the affinity_host to a value other than the master of a pool.

I created a new host data source, that's able to fetch all hosts in a specific pool.
The datasource will return a map of {"hostname":"host_uuid"}. Therefore, you can set the affinity_host value by providing a hostname to your terraform configuration.

Currently, i nee

[2021-02-04 08:25] ddelnano commented on #109
@gohumble thanks for putting effort into that! Please open a PR and I'm happy to help in any way to get your change ready to merge.

[2021-02-04 08:27] ddelnano commented on #112
This format is documented [here](https://github.com/vatesfr/xen-orchestra/blob/54a85a8dd04fb22781a93b62aaaf66098115194b/packages/xo-server/src/_extractIpFromVmNetworks.js#L1-L3). This confirms that the first item in the tuple is the network interface number but I'm still unsure of what the final number is.

[2021-02-04 08:37] gohumble opened #119 "Add network resource"
Hello,

is there any possibility to create a network. There is a network data source, but for my understanding, that's read only?

There is already a CreateNetwork() function in client/network.go, but this function is only invoked during tests.

For my use case, I need to create a network with on a certain NIC and VLAN. I hope you can help me. Maybe I just miss something. If there is no possibilit

[2021-02-05 06:56] ddelnano commented on #109
@brd would the following work for your use case (this was cross posted from #120)? `affinity_host` needs to be a XAPI id (and not a name_label or whatever your pseudo code was using). However, I think if we could have a data source that returns multiple hosts, has the ability to filter them by tag, name_label and some other attributes and has the ability to sort that it _could_ solve the problem y

[2021-02-05 07:25] ddelnano commented on #119
Yea, networks only have read only access as of right now (with the `network` data source).

Adding a network resource is definitely possible. The XO api functionality for this can be found by looking at the network related RPC calls

[code]

For your use case, the `pif` and `vlan` arguments to the `network.create` RPC call are of interest. I'm guessing the`pif` argument takes a uuid so the theoret

[2021-02-09 13:59] brd commented on #109
@ddelnano I think that would work, but if you do an apply run with `-target` set, would that mess up where the machines land by sort order?  It should not affect the count order I don't think, but maybe that would be a problem too.

Sometimes I use `-target` on single machines as a way to upgrade individual machines one at a time so I don't take all the webservers offline at once after updating th

[2021-02-10 03:17] ddelnano commented on #109
I can't say I've used `-target` much but I'm pretty confident that it doesn't impact how terraform plans. I'll make sure to test that but I believe it will work fine.

Since #110 and #120 have been merged I'm going to close this but I will open up a new issue for the `xenorchestra_hosts` data source.

[2021-02-10 03:17] #109 closed

[2021-02-10 03:19] ddelnano opened #122 "Add hosts data source"
We have a host data source, but as described in https://github.com/terra-farm/terraform-provider-xenorchestra/issues/109#issuecomment-773835812 I believe we can power more advanced use cases by adding the ability to filter and sort hosts.

[2021-02-15 08:15] TheBeems opened #123 "The cloud-init example in the documentation does not work"
I have been playing around with the terraform provider for xenorchestra and wanted to use cloud-init to setup my vm's.

I found that the example given in the documentation does not work:
[code]

The culprit is the commentline `#cloud-init`

After changing this to `#cloud-config`, all worked fine. Took me a full hour to figure this out why the cloud-init wasn't working. I suggest to change the docu

[2021-02-16 06:28] ddelnano commented on #123
Thanks for spotting this @TheBeems. I opened up a PR to fix this discrepancy.

[2021-02-16 06:28] #123 closed

[2021-02-16 14:23] gohumble commented on #122
Hello,

Filtering by tag / pool is possible by adding it to the filter parameter within the jsonrpc call.

But is there any possibility to sort results from xo.getAllObjects?
I wasn't able to find anything about sorting online. Maybe you can help me out?
[XOA only defines 3 parameters for getAllObjects.](https://github.com/vatesfr/xen-orchestra/blob/385984b1d8e8b61a8c78a61fb64be009d4374483/package

[2021-02-16 16:03] ddelnano commented on #122
Yea I don't think we have another option. This could be a feature request made to Xen Orchestra but for now we will need to sort in the provider.

[2021-02-17 02:52] ddelnano commented on #112
This will be released in v0.15.0 of the provider.

[2021-02-17 02:52] #112 closed

[2021-02-17 02:55] ddelnano commented on #49
This will be released in v0.15.0 of the provider.

[2021-02-17 03:13] ddelnano commented on #30
It's been a long time since this issue was created and I'm not sure there is a good lead for solving this issue. @trigun539 if you are still having problems, I would be happy to help over Discord (as mentioned in the README).

[2021-02-17 03:13] #30 closed

[2021-02-17 07:02] ddelnano commented on #88
I validated that this isn't the case on the latest version of the provider (v0.15.0) and also that there is an acceptance test that was written before this issue that should prevent this. So I'm not sure how this happened, closing. It can be investigated more if there are future occurrences of it.

[2021-02-17 07:02] #88 closed

[2021-02-19 07:01] ddelnano commented on #90
This was implemented in #125

[2021-02-19 07:01] #90 closed

[2021-02-19 08:02] ddelnano commented on #108
While testing how this would work, I was able to create a VM from a diskless template with the following command
[code]

The VM then booted to the ISO installation menu.

![Screenshot_20210219_000228](https://user-images.githubusercontent.com/5855593/108475616-cc402d80-7245-11eb-84b2-f0b3ec9f9df5.png)

So we will need the terraform provider to make a similar request on VM creation.

[2021-02-20 01:32] ddelnano commented on #108
Using this functionality would look something like this. The `cdrom` block might need more thought but we will definitely need a VDI data source.

[code]

[2021-02-25 06:44] ddelnano opened #129 "Prevent panics during tests from crashing the entire test suite"
A common issue is that a panic can prevent the test suite from gracefully tearing things down. This means that a subsequent test run will fail (because the `TestMain` teardown code doesn't clean up any straggling state). We should be able to recover from these panics and handle these situations more gracefully.

[2021-03-02 07:56] ddelnano opened #130 "Goreleaser is failing since vm ISO support was merged"
I didn't realize this until #128 was merged but the integer contsants used in that branch are causing overflows on i386 arches

[code]

This will need to be fixed before the next release can be made

[2021-03-03 07:18] ddelnano opened #131 "> Rather than this just being a string we could use [dataSourceXoaHost](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/6d0b85c152094efd9ee16ad0c8b6a080b701c305/xoa/data_source_host.go#L10) which would give us access to all the attributes that the individual host data source supports. Right now that is just `name_label` and `id` but that could include CPUs, hostnames, memory, XCP version, etc in the future"
I tried really hard to return a slice of `host`structs  from GetHostsByPoolName() and reuse the dataSourceXoaHost to set the `hosts` based on the `host`schema. Terraform won't transform the results as needed.  This always results in an error telling me :

`Invalid address to set: []string{"hosts", "0", "Id"}`

I am a little stuck here. Need to do a little more research and debugging. Maybe you hav

[2021-03-03 07:18] ddelnano commented on #131
I did not mean to create an issue. This was supposed to be a reply on a PR :)

[2021-03-03 07:18] #131 closed

[2021-03-03 07:44] ddelnano commented on #130
I updated the goreleaser config file to ignore the 386 and ARM 6 architectures (see a71e0a4bf40c1d8d53748c3b2f3e0931de50a915,  fb8cfe3afc0df101aca6d443955667d66a358f9e and 270d077d72c0483f0b95de985345b00f156f373f). Since these are 32bit it's unlikely that someone was using these (given the integers needed to create real VMs would be > 4 GB).

[2021-03-03 07:44] #130 closed

[2021-03-03 07:47] ddelnano commented on #108
This is now working in v0.16.0 of the provider. See the docs on terraform registry for more details!

[2021-03-03 07:47] #108 closed

[2021-03-03 07:49] ddelnano commented on #39
Users can now use diskless templates if they want (provided they supply an ISO on creation). This was implemented in #128 and the docs on terraform registry explain how to use this functionality.

[2021-03-03 07:49] #39 closed

[2021-03-03 08:10] ddelnano commented on #116
VMs can now be created with diskless templates in v0.16.0 which means the blocking issue is taken care of. The remaining work would be to implement the bios setting support.

[2021-03-09 02:35] Vagrantin opened #132 "WebSocket insecure flag"
Hello,
XO version : 5.54.0
Terraform-provider : 0.16.0
Terraform : 0.14.7

I’m implementing this plugin and my XO has an expired certificate, also all http connections are upgraded to ssl as far as I understand.

### when I use the clear socket "ws" to in this format,

[code]
I’m getting this error message at `terraform plan -input=false` step, so I assume only ssl is allow, even more because when

[2021-03-09 04:03] ddelnano commented on #132
Hey @Vagrantin.

The error you are receiving seems to be an error related to terraform's refreshing. So I don't believe this is related to the insecure flag or your certificate at all.

Can you please run terraform with the `TF_LOG=debug` environment variable set and attach those logs to this issue. In addition please check the Xen Orchestra logs (with `journalctl -u xo-server`) that will highligh

[2021-03-09 07:45] Vagrantin commented on #132
Hi @ddelnano,

Thanks you hints, help me find the issue was in my Terraform file.
Sorry for the inconvenience and thanks for the help !
With kind regards
Matt

[2021-03-09 07:45] #132 closed

[2021-03-09 15:37] bufanda opened #133 "When importing an existing vm with no template"
I am trying to transition my stack to terraform and I am currently importing existing VMs into the terraform state. Some of the VMs using the template `Other Install Media` which results that the used template in the  terraform state is set to null. As `template` is a mandatory field which unfortunately can't be set to `null` this would always lead to a recreation of the whole vm which I don't wan

[2021-03-09 16:24] ddelnano commented on #132
No problem, glad I could help!

[2021-03-09 20:58] ddelnano commented on #133
@bufanda  you need to use terraform's `ignore_changes` block. The problem that you are describing is worked around in this [blog post](https://xen-orchestra.com/blog/managing-existing-infrastructure-with-terraform-2/)

[code]

This could potentially be improved when #100 is complete.

[2021-03-09 20:59] ddelnano commented on #133
I'm going to close this issue since this is a well supported way of addressing this but I'm happy to help if you run into anymore issues.

[2021-03-09 20:59] #133 closed

[2021-03-09 22:38] bufanda commented on #133
Seems Terraform 0.14 is working different here, setting the lifecycle options now resulted in
[code]
I have set a template id of an existing template, but I only could work around this error by setting a template id in the `terraform.tfstate` itself.

[2021-03-10 01:08] ddelnano commented on #133
@bufanda can you please share your entire terraform files so I can see what you did?

You should not need to edit the terrraform state file to resolve this issue and according to the [terraform docs](https://www.terraform.io/docs/language/meta-arguments/lifecycle.html) the lifecycle meta-argument has not changed recently

[2021-03-10 06:07] bufanda commented on #133
I'm using Version 0.16.0 of the provider and this is the instance terraform
[code]

[2021-03-10 06:49] ddelnano opened #134 "Allow Vm resource to have configurable timeouts"
Currently the terraform provider hardcodes a 5 minute timeout for Vm creation. We should allow the user to specify their own create, update and delete timeouts rather than hardcoding a specific value.

Currently the delete timeout is missing so that will need to be added.

[2021-03-10 06:49] bufanda commented on #133
I just upgrade terraform from 0.14.0 to 0.14.7 and did import another VM following your blog post just as I did with another vm before the upgrade. Before I had the same issue following your blog post. After upgrading to 0.14.7 it now works. seems 0.14.0 maybe an issue here. Not sure what happened.

[2021-03-10 07:16] ddelnano commented on #84
While implementing #135, I realized that I wrote a test that intentionally orphans a Vm so a sweeper for Vms will need to be included in this.

[2021-03-11 05:26] ddelnano commented on #134
This is released in v0.16.1

[2021-03-11 05:26] #134 closed

[2021-03-12 05:58] ddelnano opened #136 "Add github workflow for releasing the provider"
Currently I run goreleaser locally on my machine to build the binaries and create a github release for this project.

When working on the packer plugin, I was able to get the release process working through the github workflow scaffolding they provide in https://github.com/ddelnano/packer-plugin-xenserver/pull/13. They provide a similar scaffolding for terraform providers ([here](https://github.co

[2021-03-16 05:54] ddelnano commented on #136
v0.17.0 is the first release built with GitHub actions.

[2021-03-16 05:54] #136 closed

[2021-04-01 06:46] ddelnano commented on #96
I have an initial implementation of this with #138 and https://github.com/GoogleCloudPlatform/terraformer/pull/846. Initially, this will only support the `xenorchestra_acl` and `xenorchestra_resource_set` resources.

The resources you mentioned are definitely important to support but have the following problems at the moment:
- VM - this resource is the most complex and until some issues are fixed

[2021-04-06 19:48] ddelnano commented on #96
Binaries are now available on the terraformer project as of [0.8.12](https://github.com/GoogleCloudPlatform/terraformer/releases/tag/0.8.12). I'll write up some instructions on how to use this and then I think the initial support can be considered complete.

I'll likely track the future improvements for the VM, network, sr and disk resources in a new issue.

[2021-04-08 13:42] d1rtym0nk3y opened #139 "Order of tags causes unnecessary updates"
if i create a vm with a set of tag like

    tags = [
        "backup:nightly",
        "ansible_group:k8s",
        "ansible_managed",
        "k8s:master",
        "env:qa"
    ]

And then do a tf plan again, tf reports that it want to update the tags as follows

      ~ tags                 = [
          - "env:qa",
            "backup:nightly",
            # (2 unchanged elements hidden)

[2021-04-13 06:34] ddelnano commented on #139
Hey @d1rtym0nk3y, thanks for raising this issue. The terraform provider is using a `TypeList` to store the tags, which enforces an order to the tags. I agree that they shouldn't need to be ordered and I'll take a look at this soon.

[2021-04-14 03:10] ddelnano opened #140 "Data sources should error when no results are found"
While currently debugging an issue with using the `xenorchestra_vdi` data source, I realized that when results are not found the error is silently ignored. This causes an issue when the dependent terraform code tries to read the data source's attribute values like so.

[code]

For resources this behavior is correct because it will need to be created if it doesn't exist, however, since data sources

[2021-04-14 05:34] ddelnano commented on #140
This fix will be released in v0.19.0 of the provider.

[2021-04-14 05:34] #140 closed

[2021-04-16 07:01] ddelnano opened #143 "Improve Xenorchestra xo.getAllObjects to use server side filtering"
Right now the `xo.getAllObjects` rpc calls filter based on the object's type and then do the remaining filtering on the client side. There was some work done in https://github.com/terra-farm/terraform-provider-xenorchestra/pull/126/files to push more logic to the server side but it only was implemented for a single object type (Host).

We should continue this work but ensure that it is generic and

[2021-04-19 07:26] ddelnano commented on #122
This fix will be released in v0.19.0 of the provider. Thanks for all your help @gohumble!

[2021-04-19 07:26] #122 closed

[2021-04-29 06:10] ddelnano opened #145 "Support missing parameters in `vm.set` for Vm updates"
While #144 improved vm resource updates significantly (specifically #40 and #111), there are many parameters that are not supported with the vm resource. This issue tracks supporting all the `vm.set` parameters. This likely will require a breaking change with how memory is handled. Currently, the `memory_max` attribute modifies the static memory max on create and the dynamic memory max on updates.

[2021-04-30 05:56] ddelnano commented on #40
This has been addressed in #144. I implemented the online resizing of CPU and memory when possible. For updates that require the VM to be halted, terraform will stop the VM perform the full `vm.set` and then restart the VM.

[2021-04-30 05:56] #40 closed

[2021-04-30 06:13] ddelnano commented on #111
This was fixed in #144 and will be released in v0.19.0 of the provider!

[2021-04-30 06:13] #111 closed

[2021-05-03 05:27] ddelnano commented on #35
This was completed in #144. There are still more vm resource update improvements to make (#145), however, the ability to hook into rebooting a VM to apply updates exists and works for CPU and memory updates.

[2021-05-03 05:27] #35 closed

[2021-05-03 16:17] marlluslustosa commented on #35
Excellent!
:)

[2021-05-03 18:23] ddelnano commented on #35
Sorry it took a while :)

[2021-05-13 13:59] ddelnano commented on #139
I have a PR open for this. It still needs some work but the fix is coming soon.

[2021-05-18 07:22] ddelnano commented on #139
This will be available in v0.19.1 of the provider which will be released later tonight

[2021-05-18 07:22] #139 closed

[2021-05-21 01:49] ddelnano opened #148 "Prevent vm acceptance test failures from causing test suite flakiness"
The suite of acceptance tests has grown significantly since the project has started. The majority of these tests are for the vm resource, which is inherently slow since it requires creating and destroying VMs. One of the major pain points with the test suite is that every VM is created with the same name. When a given test fails, it can sometimes leaves a dangling VM. Since tests are run sequentia

[2021-05-21 04:03] ddelnano opened #149 "Speed up acceptance test suite by running tests in parallel"
As the acceptance test suite has grown, it has become much slower. The VM tests are the slowest since there is a large number of them, they are slow to run and they run sequentially.

Terraform has a way to execute tests in parallel. We should experiment with running the VM tests in parallel in order to speed up running the test suite. This will require completing #148 first.

[2021-05-21 06:14] #148 closed

[2021-05-25 05:54] ddelnano commented on #149
#151 has improved the test suite duration from 80 minutes to 30 minutes. There are likely more improvements to be made but this will be enough for now.

[2021-05-25 05:54] #149 closed

[2021-05-27 14:46] ddelnano commented on #99
This will be released in v0.19.2 of the provider.

[2021-05-27 14:46] #99 closed

[2021-06-15 10:22] lavih opened #153 "Xen affinity rule"
Hello Dom,
will it be possibe to add an anty-affinity-rule like on vmware_vsphere that documented here:
https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/compute_cluster_vm_anti_affinity_rule
The ability to deploy via TF the xen vms on different hosts and create an HA environment will greatly help us !
Thanks :)
Lavih

[2021-06-15 10:33] olivierlambert commented on #153
We have the antiaffinity rule in Xen Orchestra via the load balancer plugin (see https://xen-orchestra.com/blog/xen-orchestra-5-57/#antiaffinityinloadbalancer). @julien-f can we use XO API to talk to the plugin directly and setup what we need?

[2021-06-21 06:43] ddelnano opened #154 "Supporting PXE boot with the xenorchestra_vm resource"
The Xen Orchestra UI allows users to PXE boot their VMs. This is currently not possible with the current `xenorchestra_vm` resource and should be supported.

This was discussed in [discord](https://discordapp.com/channels/704471459279667330/705514553437323360/855332493874692106).

[2021-06-21 06:47] ddelnano commented on #153
@lavih apologies for the late reply. I was on vacation the past week. I will talk to @julien-f and see if that can be leveraged here.

[2021-06-21 07:48] julien-f commented on #153
The only way to talk to the plugin is to use the `plugin.configure` method.

If more interactivity is needed, we can update the plugin to expose specific API methods.

[2021-06-23 02:48] ddelnano commented on #153
I synced up with @julien-f about this. It would be possible to create a terraform resource for the load balancer plugin to accomplish this re-balancing. That plugin is only available for customers with the XO premium support.

I'll look into implementing this in more detail, but it likely won't happen for a week or two.

[2021-06-23 05:45] ddelnano opened #156 "Implement acceptance test for PXE booted vm resources"
In #155 I added PXE support to the VM resource. I wanted to have an acceptance test for this feature, however, my main testing environment's PXE menu defaults to "local boot". This means that the VM in the current test starts up and then fails to boot because it doesn't have an OS installed on its disk.

I wasn't able to find a way to automate selecting an option on the client (guest VM) side. It

[2021-06-26 07:57] ddelnano opened #157 "Upgrade to the latest terraform sdk"
Terraform 1.0 (0.15.0) was recently released so I think it's time to upgrade the sdk. This will drop support for terraform 0.11 and lower.

As part of this upgrade it's worth doing the following:
- [Setting resource-level and field level descriptions](https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html#support-for-resource-level-and-field-level-descriptions)
- [Add debug support to t

[2021-06-28 03:03] ddelnano commented on #154
This will be released in v0.20.0 of the provider.

[2021-06-28 03:03] #154 closed

[2021-06-28 18:01] ddelnano commented on #157
This will be released in v0.20.0 of the provider.

[2021-06-28 18:01] #157 closed

[2021-06-29 11:03] lavih commented on #153
That would mean I have to use this XO plugin with specific version and also be a XO premium member? what if im neither?
What if it would be something more simple like check the number of hosts and scatter the new vms more or less equally?

[2021-06-29 11:44] olivierlambert commented on #153
That's a bit more complicated that writing something "scattering new VMs more or less equally".

Otherwise, it wouldn't be a dedicated plugin with hundreds lines of code. But it's Open Source, so you can install the plugin yourself if you installed it from the sources: https://github.com/vatesfr/xen-orchestra/tree/master/packages/xo-server-load-balancer

If you are using XOA, then you need the sup

[2021-06-29 19:17] ddelnano commented on #153
Terraform providers are better as glue between the terraform code and the API providing the functionality. Encoding detailed scheduling logic, adds complexity that is best done in the API (like the xo-server-load-balancer). This typically causes inconsistent and constant diffs during `terraform plan`s

If you want to have more control over the scheduling, without installing the xo-server-load-bala

[2021-07-15 07:48] gohumble opened #164 "Allow users to filter by any field they want"
Currently, filtering is mostly done on the client side, without taking advantage of XO api's server side filtering capabilities.

Add server side filtering by any key - value pair for data sources.

_Originally posted by @ddelnano in https://github.com/terra-farm/terraform-provider-xenorchestra/pull/161#discussion_r667262763_

Another way we could design this is to take the aws amis data source ap

[2021-08-11 06:14] ddelnano opened #169 "xenorchestra_vdi data source implicitly requires pool_id"
After debugging the following situation with a user in discord ([link](https://discordapp.com/channels/704471459279667330/705514553437323360/874896211956613180)), I realized that the `xenorchestra_vdi` data source implicitly requires a `pool_id` argument. The problem is this code [here](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/48489d5501720ca44003b4881e3285d476197eeb/clie

[2021-11-04 11:21] devcose opened #170 "Many arguments not available"
Started using recently but have found many arguments are not available on the following versions maybe i'm missing something or putting them in the wrong places but i don't believe so
Terraform v1.0.10
on linux_amd64
+ provider registry.terraform.io/terra-farm/xenorchestra v0.3.7

## wait_for_ip and ipv4_addresses return

[code]

## as well accessing the majority of attributes

`` output "server_p

[2021-11-04 11:43] ddelnano commented on #170
Hi @devcose, v0.3.7 is an extremely old version. The terraform registry docs are versioned and you can see from the screenshot below that v0.21.0 is the latest version. Please upgrade to the latest version and try again.

![Screen Shot 2021-11-04 at 4 41 54 AM](https://user-images.githubusercontent.com/5855593/140307752-b9aba679-fe06-4a6e-9da1-5a1948765f44.png)

I'm happy to continue providing sup

[2021-11-04 11:43] #170 closed

[2021-11-04 21:20] princess-glimmr opened #171 "Can not update VMs with Self-Service User"
Hi there,

I recently started using your terraform provider for my homelab, but seem to have encountered a problem there.
I already [messaged](https://discordapp.com/channels/704471459279667330/705514553437323360/903375222701432882) about it on the discord server & created this issue accordingly.

# What I wanted to realize
My primary goal was to provision my VMs through terraform, but not giving

[2021-11-14 18:17] ringods opened #173 "Split Go client/SDK in a separate git repository?"
Hello @ddelnano,

The following folder in this repository contains a Golang implementation of the XenOrchestra API:

https://github.com/terra-farm/terraform-provider-xenorchestra/tree/master/client

Would you be open to splitting off this Go SDK for XenOrchestra in a separate Github repository?
If so, I would propose to host it under https://github.com/vatesfr, for instance in a repo named `go-xen

[2021-11-14 18:37] olivierlambert commented on #173
I don't have a specific opinion about this, it's up to you guys :)

[2021-11-15 00:50] ddelnano commented on #173
@ringods that sounds good to me. They are actually separate go modules already so the intention was to split it out at some point. There just wasn't a strong motivator for doing so, but I now that there will be another use case for the client (k8s cloud controller) it makes sense to do it now.

[2021-11-15 06:38] ringods commented on #173
@olivierlambert can you create repository https://github.com/vatesfr/go-xenorchestra and provide me and @ddelnano access to it?

@ddelnano I will move the sources and send you a PR for the TF provider to use it.

[2021-11-15 07:59] olivierlambert commented on #173
Sure, just let me check with @julien-f about the naming

[2021-11-15 08:57] olivierlambert commented on #173
We probably need to name it in a way to understand what it is. Maybe `go-xenorchestra` seems to close to be understood as a reimplementation of XO in GO.

In our case, it's building a client for XO API. So why not something like `xo-go-client` or something like that? (to make it clear about what it is, ie a client for XO API in Go)

[2021-11-15 10:25] ringods commented on #173
@olivierlambert I looked a bit around:

https://github.com/aws/aws-sdk-go
https://github.com/googleapis/google-cloud-go
https://github.com/Azure/azure-sdk-for-go

So I would let it end with `-go`, e.g. `xo-sdk-go`.

[2021-11-15 10:47] olivierlambert commented on #173
Ah good idea to take a look around. We are OK for `xo-sdk-go`, creating the repo ASAP with permissions for both @ringods and @ddelnano

[2021-11-15 10:49] olivierlambert commented on #173
Done and invites sent!

https://github.com/vatesfr/xo-sdk-go

[2021-11-16 22:09] ringods commented on #173
@ddelnano I couldn't add you as a reviewer in the PR, but here is the SDK extracted in the new repo for you to see:

https://github.com/vatesfr/xo-sdk-go/pull/3

[2021-11-17 00:54] ddelnano commented on #173
I missed accepting the invite but I should be able to be added as a reviewer now.

[2021-12-16 14:55] newknowledg opened #177 "New VM's are created with HVM_shadow_multiplier set to 0.9444444444"
I am facing an issue that prevents me from shutting down any vm created using terraform or using terraform to update the vm's it creates.

The problem manifests in the shadow_multiplier. I was provided with a solution to run on the hypervisors shell in order to set this value to one. This will resolve the issue but I would prefer to not have to do this for every new vm I create.

I do not observe

[2021-12-16 15:28] ddelnano commented on #177
@newknowledg I just checked the the VMs I've created with terraform and all of their `HVM-shadow-multiplier values` are 1.0 so I think there is something else at play here. The terraform provider isn't specifying that value in the Xen orchestra api calls it makes.

Can you please provide what hypervisor you are running, the version, the version of Xen orchestra you are using and provide your terra

[2021-12-16 15:35] newknowledg commented on #177
I am running xcp-ng 8.2.0
I will get back to you shortly once I create the new vm

[2021-12-16 16:40] newknowledg commented on #177
Terraform timedout. This only occured when generating the log. Here is the output:
[code]

[2021-12-16 16:42] newknowledg commented on #177
[code]

[2021-12-16 16:42] newknowledg commented on #177
[code]

[2021-12-16 16:52] newknowledg commented on #177
I found ```memory-ratio-hvm:0.25``` This is the only thing of interest I have spotted. I apologize as I don't really know what I'm looking for.

``
[10:46 localhost ~]# xe vm-list | grep uuid | cut -d ':' -f2 | xargs -I{} xe vm-param-list uuid={} | grep -i hvm-shadow
                 HVM-shadow-multiplier ( RW): 1.000
                 HVM-shadow-multiplier ( RW): 0.947
                 HVM-shadow-

[2021-12-20 06:52] ddelnano opened #178 "Allow vm disks to be resized on update"
When a user creates a VM from a template that contains a disk, the disk will be expanded to the size of the VM's specified size. For example, if you have a Ubuntu 20.04 template that has a 10 GB root volume. If you create a VM with a 5 0GB disk, the template's 10 GB disk will be resized to 50 GBs when copied.

Unfortunately this only works when a VM resource is created. We should allow this to wor

[2022-01-06 03:52] ddelnano opened #181 "Document the difference between Xen Orchestra's cloud-init templating and terraform's"
We should ensure that the behavior described in [this forum](https://xcp-ng.org/forum/topic/5391/terraform-with-cloud-init/6?lang=en-US) post is documented.

[2022-01-15 20:23] StoneMonarch opened #185 "hosts data source example incomplete"
The example for `affinity_host` on line 24 of `docs/data-sources/hosts.md` is incomplete. The example tries to index the named attributes of the data source rather than applying the index to the attribute that contains the list.

In the example:
[code]

Correct and working:
[code]

My first thought was to update the documentation to show the working way but it feels a bit 'messy', having `...hosts

[2022-01-15 20:53] ddelnano commented on #185
The Xen orchestra 'api object' is called a host (see screenshot below and [this reference](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/29f3426bfa2205b26146b5c657281832920a73cf/client/client.go#L229)). I intentionally keep the terminology consistent in order to avoid confusion.

![Screen Shot 2022-01-15 at 12 47 14 PM](https://user-images.githubusercontent.com/5855593/1496371

[2022-01-15 22:00] StoneMonarch commented on #185
Yeah I did not think about the breaking change part. Documentation is probably best.
PR #186

[2022-01-16 02:09] #185 closed

[2022-01-16 02:10] #181 closed

[2022-01-19 05:48] ddelnano commented on #84
This was completed in #187

[2022-01-19 05:48] #84 closed

[2022-02-01 07:15] ddelnano opened #188 "Improve acceptance test suite build quality (decrease flakiness)"
The current acceptance test suite has grown since the project started. It is now comprised of 30 `xenorchestra_vm` resource tests, which often cause the `go test` command to timeout (running `TIMEOUT=XXXm make testacc` never succeeds on its own). This is starting to become a significant time sink on development velocity. In addition, the process listed below is time consuming and requires that I c

[2022-02-01 20:59] ddelnano opened #189 "Improve the Xen orchestra go client's API design"
While working on #179 and past tasks, it's become apparent that the XO client (`github.com/terra-farm/terraform-provider-xenorchestra/client` module) has an inconsistent API design.

API calls that operate on VMs typically require a deeply nested struct (as seen below and [here](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/51c49b950466c47befa6860263ac8a47e9da55a7/xoa/resource

[2022-02-02 03:34] ddelnano commented on #171
Apologies that this has taken so long to get addressed, but this is fixed in v0.23.1!

[2022-02-02 03:34] #171 closed

[2022-02-15 00:46] newknowledg commented on #177
The issue was caused by using the wrong memory_max value slightly higher than what it should be resulting in the hvm-shadow multiplier being set to less than 1.

[2022-02-15 00:47] #177 closed

[2022-02-20 09:13] Madaspe opened #190 "M1 support (darwin_arm64)"
[code]

[2022-02-20 09:33] #190 closed

[2022-02-20 09:33] Madaspe commented on #190
Pardon my vision

[2022-03-14 14:38] InputObject2 opened #191 "Plugin crash when trying to pass a computed value for a mac address"
When trying to set a vm's nic's mac address, the xenorchestra provider does not handle "computed" values because of the validation done [on the mac address field](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/51c49b950466c47befa6860263ac8a47e9da55a7/xoa/resource_xenorchestra_vm.go#L237), meaning that the mac's value has to be known ahead of time.

Terraform example code where

[2022-03-15 06:58] ddelnano commented on #191
@InputObject2 thanks for the bug report. I didn't realize it was possible for this to behave this way. I need to investigate this a bit more, but if removing that validation prevents this problem it seems like a possible solution.

[2022-03-16 04:59] ddelnano commented on #191
I wasn't suggesting that a 2-step apply was a viable workaround :). I just wanted to make sure I understood why this was a "computed property" problem, since I was surprised this was possible. So I wanted to make sure I understood how to reproduce the issue.

[2022-03-19 12:25] 4censord opened #193 "[Feature] Upload isos via terraform"
I would like to be able to upload iso via terraform.

I was thinking something like this:

[code]

I dont currently have time to build this myself, but may look into it in a few months time.

[2022-03-19 16:41] 4censord opened #194 "[BUG] Unable to create diskless VM"
Trying to create a vm without any disks fails with
[code]
My vm doesn't need disk, it is epheremal and only need a cdrom.

[2022-04-10 10:03] michaelkoetter commented on #178
This seems to be work now ... more or less?
When I apply with an increased disk size, the VDI is grown (or at least shows the updated disk size in XO). But my Ubuntu 20.04 VM immediately freezes and disk IO seems to be stuck. When I hard-reset it, the Hard disk is no longer bootable. I was able to reproduce this multiple times, so it wasn't just bad luck.

This is probably more an XO/XCP-ng issue

[2022-04-18 01:20] ddelnano commented on #178
@michaelkoetter thanks for sharing your testing. I agree that it seems like an XCP-ng or guest issue.

I think terraform shouldn't allow a user to do something dangerous like this so at a bare minimum this shouldn't be allowed when it will cause disk corruption. I'm curious if the resize would work if the VM was shutdown first. If that's the case, then terraform should shutdown the VM, perform the

[2022-04-18 01:43] ddelnano commented on #193
@4censord thanks for the feature request. Creating isos already seems to be supported by the XOA api used by the terraform provider, so this shouldn't be too difficult to implement. I'll look into this in the coming weeks.

[2022-05-15 07:11] dyipon opened #196 "destroy issue"
Hi,

i can't destroy the applied vm, terraform destroy command gives the next error:
[code]

If I try destroy again, it works, but always fail on first attempt.

What details should I share to help the debug?

[2022-05-20 06:26] ddelnano commented on #196
@dyipon was that all of the error output you received? It would be helpful if you could share your terraform code and provide all of the output of your command (assuming there is more).

[2022-05-20 06:32] ddelnano opened #197 "Stopped VM does not trigger dirty terraform plan"
When investigating #196, I noticed that if a VM created with terrraform is stopped a subsequent `terraform plan` will not show that the VM will be started. This means the `power_state` property is not being refreshed properly.

[2022-05-20 06:52] ddelnano commented on #196
This appears to be an issue with newer versions of Xen orchestra. I typically run the provider acceptance tests against two deployments: one that is close to latest xen orchestra (currently 5.93.0) and 5.71.2.

Running any of the acceptance tests against the 5.93.0 XO results in the error mentioned above, while running the same test against 5.71.2 works. It seems the `vm.delete` RPC call has chang

[2022-05-20 06:58] ddelnano commented on #196
The following change gets the tests to pass again, but this would cause versions prior to this change to break
[code]

I need to further investigate when this breaking change was made to see if we can handle both cases.

[2022-05-20 07:14] ddelnano commented on #196
I believe https://github.com/vatesfr/xen-orchestra/commit/ed09608952442fe9378cd23e40911324c252c1ea could have caused this behavior change.

[2022-05-21 00:27] ddelnano commented on #196
This will be fixed in v0.23.2, which should be released in the next few days.

[2022-05-21 00:27] #196 closed

[2022-05-21 23:48] bossmonkeyman opened #199 "Unmarshal error destroying vm"
Attempting to destroy a vm resource results in the following error:

`Error: json: cannot unmarshal bool into Go value of type []interface {}`

The vm itself is actually successfully removed in XO. It is just the `terraform destroy` command that fails. If destroy is immediately run again after the error, the vm is correctly detected as removed and the command succeeds.

[2022-05-22 05:40] ddelnano commented on #199
@bossmonkeyman thanks for the bug report. This is a dup of #196 and will be fixed in the next release.

[2022-05-22 05:41] #199 closed

[2022-05-28 19:29] ivocalado opened #200 "[BUG] terraform apply get stucked in during instance creation"
Folks, I'm dealing with a problem to create instances through terraform. I'm able to create instance on the xen orchestra through UI and retrieve informations by using data blocks. Nevertheless, when I try to create a VM with the code below it gets stucked indefinitely. Any possible reason for that?

[code]

[2022-06-02 11:44] ivocalado commented on #200
Hello @ddelnano , yes, I confirm that I'm able to create instances through UI as shown in picture below:

![image](https://user-images.githubusercontent.com/2104998/171622069-f90c457d-5d66-4d49-b7c3-1eefc13e8cd9.png)

Regarding the log, we can refer that in:
[terraform.log](https://github.com/terra-farm/terraform-provider-xenorchestra/files/8823360/terraform.log)

[2022-06-02 18:46] ddelnano commented on #200
I asked for you to check the XO UI _when terraform is failing to complete its apply_. Please perform the test again and look in the XO UI as the `terraform apply` is running.

Thanks for providing the logs, I will give that a look soon.

[2022-06-02 18:54] ddelnano commented on #200
The provider will create a VM and then poll its status until it's in the running state. It appears that your VM stays halted the entire time (not the PowerState field in the output below). I think this is most likely to be an issue with your VM being unable to boot than anything else.

[code]

When you create a VM through the XO UI, are you creating it from the same template, network and other par

[2022-06-02 19:09] ivocalado commented on #200
@ddelnano , I checked that and no VM appear on the UI during apply.

[2022-06-02 19:11] ivocalado commented on #200
I'd say yes but I'm going to make a double check.

[2022-06-02 19:33] ddelnano commented on #200
Can you confirm that the VM filter is set to none? It defaults to only show running VMs.

<img width="1279" alt="Screen Shot 2022-06-02 at 3 32 46 PM" src="https://user-images.githubusercontent.com/5855593/171723438-d7d0cc26-6ce9-40f2-8ca4-1940b3559b7d.png">

[2022-06-03 15:11] ivocalado commented on #200
@ddelnano , you're right. The instances has been shown when the filters are set to none. I tried to manually start the instance but it fails with 'VM_BAD_POWER_STATE'. So, I know that there's no problem with the terraform side but do you happen to know possible reasons for such error?

[2022-06-03 15:19] ivocalado commented on #200
@ddelnano , I just found the problem. It was related to attached network card (and not the VM_BAD... above). Thank you for your help!

[2022-06-03 15:28] ivocalado commented on #200
@ddelnano , I'm able now to create instances through terraform. Nevertheless, when I try to destroy the instance I receive the following error message:

[code]
I checked and the resource are correctly destroyed. Any tip regarding the error?

[2022-06-06 06:36] whzzz28 opened #201 "high_availability Attribute"
Hi.

Is there any examples of use of high_availability option that are known to work?
Below is a sample resource I have been toying with, and terraform does not complain while applying, however in Xen Orchestra the VM created has a HA value of "Disabled". I believe i may be using this argument wrong. I also tried best-effort, with the same results. I was unable to find an example configuration wit

[2022-06-07 13:21] ddelnano commented on #201
@whzzz28 the acceptance tests used for verifying the providers functionality are a good source of examples that are well tested. [This example](https://github.com/terra-farm/terraform-provider-xenorchestra/blob/04383ff9ab5fb717aafcb80558447d2ca59a78e4/xoa/resource_xenorchestra_vm_test.go#L1151-L1155) in particular ensures that the high availability field is changed from the default to `restart`.

[2022-06-08 00:45] whzzz28 commented on #201
Hi,
Apply throws an error when using a colon. Below is a copy of the output with debug set:
[code]

Here is a copy of the xenorchestra_vm configuration that was used:
[code]

[2022-06-08 00:49] ddelnano commented on #201
@whzzz28 please correct the syntax error and run that test again. You should use the following:

[code]

[2022-06-08 03:32] ddelnano commented on #200
@ivocalado please see #199

[2022-06-08 03:32] #200 closed

[2022-06-08 03:35] ddelnano commented on #196
This will be released today! Apologies for the delay.

[2022-06-08 03:48] whzzz28 commented on #201
Sorry - typo in the first post. It was set to
[code]
I tried:
[code]

Which did not work.
When using equals, it creates the VM, but Xen Orchestra showing HA: "Disabled"

Debug logs show this:

[code]

Some reason it is changing the string to ""
[code]

[2022-06-08 03:57] ddelnano commented on #201
@whzzz28 please join the Discord mentioned in the README so we can debug this further. This back and forth is not a good use of a GitHub issue.

For now I'm going to close this issue. When we discuss this in Discord, we can follow up with a GitHub issues if it's necessary.

[2022-06-08 03:57] #201 closed

[2022-06-13 06:47] deefdragon opened #202 "Cloud Config Verification or object format"
I spent far longer than I should have attempting to get cloud config working (in large part because of the _required comment_) and most of the times that I failed were because of improper cloud config. Given the difficulty of debugging cloud-config at times, would it be possible to throw an error if the yaml is invalid (or missing that starting comment etc.) and or, would it be possible to have an

[2022-06-13 11:02] TheFrisianClause opened #203 "Make 'sizes'in MiB, GiB, TiB"
Currently I am setting up the sizes of my memory and disk(s), and when I used the terraform provider for lets say vSphere. I had to adjust the sizes in either MiB, GiB or TiB. But in Xenorchestra I have to put everything in 'Bytes'. Why is that?

Is there a way to add support for MiB, GiB and TiB?

[2022-06-13 15:04] 4censord commented on #203
Two possibilitys:
* The Vsphere provider implements those
* Vsphere supports them natively

The Xen-orchestra apis expect bytes, so it was the natural choice.

Neither HCL [[0]] nor terraform [[1]] implement support for those directly.

So for supporting different measurements i see three ways:

* Change all values to expect (Mib/GiB/TiB)
  This is not backwards compatible.
* additionally provide

[2022-06-13 15:18] 4censord commented on #202
It may be worth looking into https://registry.terraform.io/providers/hashicorp/template/latest/docs/data-sources/cloudinit_config

[2022-06-20 08:58] deefdragon commented on #178
yeah, I think this should error out on a change. This Just nuked several disks that I was testing with. Had to reboot to get them to unfreeze, and when I did, they were not even recognized as existing. (VM self shut down after 30 seconds)

I had snapshots, but it was less than Ideal.

[2022-07-05 09:47] 4censord opened #204 "Destroy issue for cloud configs"
seems like the same issue as #196 and #199

[code]

only happens on xoa latest, does not happen on stable

[2022-07-06 01:04] ddelnano commented on #204
Hey @4censord, thanks for reporting this. When you say latest, can you give me a more specific version or commit sha? Looking at the recent commits to the repo, I don't see the offending change so knowing more specifically about when it was introduced will narrow down the number of commits to sort through.

[2022-07-06 01:25] ddelnano commented on #203
It seems that Hashicorp [sentinel](https://docs.hashicorp.com/sentinel/imports/units) supports something similar to this. Unfortunately that is only an enterprise feature.

I would prefer the data source or similar route because I don't think introducing a backwards incompatible change or additional resource arguments is worth the inconvenience. I also believe that this data source doesn't need to

[2022-07-06 01:30] ddelnano commented on #202
Apologies for the late reply, I think it would be best to rely on an official cloudinit config generator like @4censord mentioned. I am open to adding a light amount of validation to prevent obvious errors, but anything beyond that should use a more official mechanism.

When writing cloud config I rely heavily on the documentation, so if there are other things you think should be considered outsid

[2022-07-06 13:04] 4censord commented on #204
Sorry, yes I really wasn't clear about versions and reproducability

I am running
[code]
and `terraform-provider-xenorchestra` version `v0.23.2`

Running this terraform config:

[code]

Running this against xoa on the `stable` channel works flawlessly.
Versions copied from xoa:

- node: 16.14.2
- npm: 8.12.1
- xen-orchestra-upload-ova: 0.1.4
- xo-server: 5.96.0
- xo-server-telemetry: 0.5.0
- xo-se

[2022-07-19 05:52] ddelnano opened #205 "Consider allowing changes to VM resource's `cloud_config` argument to force recreation"
This was discussed in [Discord](https://discord.com/channels/704471459279667330/705514553437323360/994317562538115194).

It is surprising that the `cloud_config` argument is capable of being changed on a `xenorchestra_vm` when it likely will have no effect. The `aws_instance` resource in the AWS terraform provider allows a similar configuration through launch templates. This argument causes the `a

[2022-07-19 06:14] #204 closed

[2022-07-19 06:14] ddelnano commented on #204
This will be released in v0.23.3. I hope to release that sometime this week.

[2022-07-20 17:12] TheFrisianClause commented on #203
Yeah I understand the points of you guys. But look at it from a persons perspective. I for instance have to continually grab an calculator to see for example how much 1024 MiB is in bytes. While in for instance vSphere or Telmate I can define the amount in MiB (even this would be a huge improvement). It's just time consuming to continually look for how many bytes a certain amount of KiB, MiB, GiB

[2022-07-26 15:10] jbolthouse opened #207 "Cannot cannot unmarshal object into Go value of type bool on Cloud Config"
Following the guidance in the docs, I attempted to pass a cloud config as a part of initializing a VM and have run aground a Go error:
[code]
I have tried various forms of the cloud config and tried the last few releases of this provider and am seeing it happening consistently. Here is my config, with privacy redactions.

I have also tried both loading the cloud config from file and inserting it a

[2022-07-26 15:22] 4censord commented on #207
This has already been fixed in #206, but there has not been a release since.

Until that is released, you can
* change your XOA to the `stable` channel
* Compile the provider yourself

Duplicate of #204

@ddelnano Can we do a release soon?

[2022-07-26 16:02] jbolthouse commented on #207
Sorry I didn't make the connnection between these. Makes sense now.

On Tue, Jul 26, 2022 at 9:01 AM Dom Del Nano ***@***.***>
wrote:

--
John Bolthouse
*https://www.linkedin.com/in/johnbolthouse
<https://www.linkedin.com/in/johnbolthouse>*
May all our earnest efforts to accomplish anything find themselves seasoned
with salt.

[2022-07-26 17:23] 4censord commented on #205
That is already possible with the `lifecycle` meta argument:
using something like:

[code]

Terraform replaces the vm whenever `user_data` or `network_data` has any changes.

That looks something like this

[code]

</detail>

[2022-07-27 00:28] ddelnano commented on #188
Until this is fixed here is my solution:
[code]

Repeat with each successive test run.

[2022-07-27 00:31] ddelnano commented on #205
@4censord thanks for sharing that workaround. I still think it makes sense to unify this against what other similar providers are doing, but it's great that Terraform has this flexibility.

[2022-07-27 03:19] ddelnano commented on #207
This will be fixed in v0.23.3 which will be released within the next hour.

[2022-07-27 03:19] #207 closed

[2022-07-28 13:10] 4censord commented on #197
I have done some testing on this:
When changing the `power_state` property from `Computed: true,` to
[code]
Terraform detects that it has changed:
[code]
applying this, terraform fails with:
[code]

<details>
  <summary>Terraform config</summary>

Using this config:

[code]

* Running apply
* wait till completion
* stop vm via xoa (normal stop)
* run plan, see changed powerstate
* run apply see te

[2022-07-28 13:21] 4censord opened #209 "`high_availability` and `auto_poweron` settings don't seem to apply on create"
Using this Terraform config
[code]

* run apply
* Check in XOA what ha and autopoweron is set to
  auto_poweron is false
  high_availability is disabled
* run apply again

Terraform confirms that they are disabled but should be enabled

[code]

* Check in XOA what ha and autopoweron are set to
  auto_poweron is now true
  high_availability is now 'restart'
* another apply now reports that everythi

[2022-08-01 11:38] ranjith-hash opened #210 "xenorchestra_cloud_config error"
when using xenorchestra_cloud_config getting this error
Error: json: cannot unmarshal object into Go value of type bool

<img width="552" alt="Screenshot 2022-08-01 at 5 07 02 PM" src="https://user-images.githubusercontent.com/83088967/182139841-1dcfe93c-27c1-4597-b319-d0f8ba6fe3a8.png">

[2022-08-01 13:07] 4censord commented on #210
What's your provider version?
This should have been fixed in [v0.23.3](https://github.com/terra-farm/terraform-provider-xenorchestra/releases/tag/v0.23.3) already.

If you are on v0.23.3, then we need more logs

[2022-08-01 16:55] ranjith-hash commented on #210
I have update to v.23.3 now, i don't see see any issues on terraform apply but xenorchestra_cloud_config not updating my cloud init i cloud able to update using cloudinit_config, can i able to assign static ip using any of this resources

[2022-08-01 18:47] ddelnano commented on #210
@ranjith-hash please provide your terraform code and logs so we can better understand what you mean by "not updating my cloud init i cloud able to update using cloudinit_config".

When running terraform, please ensure the `TF_LOG=debug` environment variable is set

[2022-08-02 04:49] ranjith-hash commented on #210
please find my terraform code,

data "xenorchestra_pool" "pool" {
    name_label = "xcp-ng02"
}

data "xenorchestra_template" "template" {
    name_label = "Ubuntu20"
}

data "xenorchestra_network" "net" {
    pool_id = "xxx"
  name_label = "X2_DEV_VL41"
}

data "template_file" "elk_netdata"{
    template = templatefile("cloud_network_config.tftpl", {
        ip = "172.16.41.45"
        gwip = "17

[2022-08-03 06:53] ddelnano commented on #188
I've evaluated [gotestsum](https://github.com/gotestyourself/gotestsum). Unfortunately it doesn't provide the functionality I need. It does allow re-running failed tests, but we need terraform's test sweeping to run before each additional retry (to purge VMs and other failed resources).

From reading it's source code and [rakyll/go-test-trace](https://github.com/rakyll/go-test-trace), I believe wr

[2022-08-03 11:48] ddelnano commented on #188
I took another look at gotestsum as I was debugging my custom test runner and my initial assessment isn't quite correct. It should work with terraform's test sweeping (re-running `go test` after each set of failures). However when it encounters a test panic (exactly the situation I'd like to re-run in), it simply gives up.

My branch mentioned above has a `github.com/ddelnano/terraform-provider-xe

[2022-08-03 12:46] ddelnano commented on #188
I've also created a [post](https://discuss.hashicorp.com/t/handling-provider-acceptance-test-failures-when-go-test-timeout-is-reached/42755) on the Hashicorp discuss forums. I'm hoping to receive more guidance from other provider developers / Hashicorp on other things I haven't considered.

[2022-08-11 17:31] Dr4s1l commented on #210
same here just updated XOA, then try a new deploy and cloud_config throw same error.

[2022-08-31 10:26] 4censord commented on #205
I would also like to have the option for a change on the cloud-init data to force a power cycle of the vm.
This does not seem possible with lifecycle configuration only.

[2022-08-31 14:17] ddelnano commented on #205
@4censord what I described in the issue description would be to cause the VM to be destroyed and recreated. Are you saying that if your case you want the VM to be rebooted?

[2022-08-31 14:55] 4censord commented on #205
Yes, I would like to have the option to *only* reboot the vm
I propose to do this via an option that allows the user to choose:
[code]

[2022-09-15 14:31] slax81 opened #211 "Dynamic memory control"
Hello, when I create a new VM with 16GB of ram, I get minimum of 2GB of ram as in the image below. I would like to be set to 16GB bith min and max ram. Is that possible to do in terraform code?

![image](https://user-images.githubusercontent.com/48626129/190430155-51982c32-7c92-4e5e-8d4a-ad15fefedae7.png)

[2022-09-21 07:17] slax81 commented on #211
Of course, VM from the above image is created using terraform and terraform-provider-xenorchestra. But in VM resource we can only set memory_max not memory_min limit. At least I haven't found a way. Please help me with this if possible.

[2022-10-26 19:58] userbradley commented on #96
Awesome work!

Sorry it took so long to get back to this.

[2022-11-17 11:11] Anbu42 opened #214 "VM disk resize"
In order to increase the disk of a virtual machine in Xen Orchestra, you need to stop VM, increase the disk and then start VM.

Is there any way to increase the disk size using this provider without data loss?

[2022-11-17 11:26] 4censord commented on #214
Not currently.
See also: #178

[2022-11-21 14:50] 4censord commented on #193
It seems to now be properly supported by xoa, https://github.com/vatesfr/xen-orchestra/issues/6182#issuecomment-1235257176.

I would also like to extend that to importing vm images from remote locations, like upstream cloudinit images, and creating VMS with those